<a href="https://colab.research.google.com/github/seonghunYang/big_contest2020/blob/master/EDA11_%EB%B3%80%EC%88%98_%ED%8A%B9%EC%A7%95_%EC%B6%94%EC%B6%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
path = './gdrive/My Drive/빅콘테스트2020/데이터/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/'

In [2]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [6]:
team_pitcher = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/팀투수_세이버 매트릭스_합본_8_25.csv', encoding='CP949')
pitcher = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/개인투수_세이버 매트릭스_합본_8_25.csv', encoding='CP949')
team_hitter = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/팀타자_세이버 매트릭스_합본_8_25.csv', encoding='CP949')
hitter = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/개인타자_세이버 매트릭스_합본_8_25.csv', encoding='CP949')

In [31]:
data_list = [team_pitcher, pitcher, team_hitter, hitter]
for data in data_list:
  data['일자'] = pd.to_datetime(data['일자'],format='%Y-%m-%d', errors='raise')

In [7]:
team_pitcher

      Unnamed: 0            게임키          일자  ...        CYP       F-E       R-E
0              0  20160401HHLG0  2016-04-01  ...   0.000000  0.000000  0.000000
1              1  20160401HHLG0  2016-04-01  ...   0.000000  0.000000  0.000000
2              2  20160401HTNC0  2016-04-01  ...   0.000000  0.000000  0.000000
3              3  20160401HTNC0  2016-04-01  ...   0.000000  0.000000  0.000000
4              4  20160401KTSK0  2016-04-01  ...   0.000000  0.000000  0.000000
...          ...            ...         ...  ...        ...       ...       ...
6395        6395  20200719LTSS0  2020-07-19  ...  50.866667  0.327288  0.306039
6396        6396  20200719OBHT0  2020-07-19  ...  90.933333 -0.538285  0.553325
6397        6397  20200719OBHT0  2020-07-19  ...  47.633333 -0.946983  0.613691
6398        6398  20200719WOSK0  2020-07-19  ...  40.966667 -0.090499  0.691291
6399        6399  20200719WOSK0  2020-07-19  ...  62.500000  0.392480  0.535096

[6400 rows x 55 columns]

In [124]:
team_code = ['NC', 'OB', 'WO', 'HT', "LG", 'SS', 'KT', 'LT', 'SK', "HH"]
def createDate(row):
  previous = team_pitcher[(team_pitcher['팀코드'] == row['팀코드']) & (team_pitcher['시즌'] == row['시즌']) & (team_pitcher['일자'] < row['일자']) ].tail(1)
  if len(previous) == 0:
    row['경기간간격'] = 0
    return row
  previous = previous.sum()
  a = (row['일자'] - previous['일자'])
  # print(a)
  row['경기간간격'] = a.days
  # print(row['일자'],  previous['일자'], row['경기간간격'])
  return row

In [131]:
team_pitcher = team_pitcher.apply(createDate, axis=1)

In [133]:
team_pitcher['월'] =  team_pitcher['일자'].dt.month

In [134]:
team_pitcher

      Unnamed: 0            게임키         일자 팀코드  ...       F-E       R-E 경기간간격  월
0              0  20160401HHLG0 2016-04-01  LG  ...  0.000000  0.000000     0  4
1              1  20160401HHLG0 2016-04-01  HH  ...  0.000000  0.000000     0  4
2              2  20160401HTNC0 2016-04-01  NC  ...  0.000000  0.000000     0  4
3              3  20160401HTNC0 2016-04-01  HT  ...  0.000000  0.000000     0  4
4              4  20160401KTSK0 2016-04-01  SK  ...  0.000000  0.000000     0  4
...          ...            ...        ...  ..  ...       ...       ...   ... ..
6395        6395  20200719LTSS0 2020-07-19  LT  ...  0.327288  0.306039     1  7
6396        6396  20200719OBHT0 2020-07-19  HT  ... -0.538285  0.553325     1  7
6397        6397  20200719OBHT0 2020-07-19  OB  ... -0.946983  0.613691     1  7
6398        6398  20200719WOSK0 2020-07-19  SK  ... -0.090499  0.691291     1  7
6399        6399  20200719WOSK0 2020-07-19  WO  ...  0.392480  0.535096     1  7

[6400 rows x 57 columns]