In [1]:
import pandas as pd
path = '../데이터/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/'

In [101]:
pitcher_2016 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2016.csv', encoding='utf-8-sig')
pitcher_2017 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2017.csv', encoding='utf-8-sig')
pitcher_2018 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2018.csv', encoding='utf-8-sig')
pitcher_2019 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2019.csv', encoding='utf-8-sig')
pitcher_2020 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2020.csv', encoding='utf-8-sig')
pitcher_list = [pitcher_2016, pitcher_2017, pitcher_2018, pitcher_2019, pitcher_2020]
pitcher = pd.concat(pitcher_list)

In [3]:
pitcher_2016.head()

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,P_ID,START_CK,RELIEF_CK,CG_CK,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
0,20160401HHLG0,20160401,LG,HH,0,B,60146,0,1,0,...,3,0,0,0,0,0,0,0.000000,1.000000,1.50
1,20160401HHLG0,20160401,LG,HH,0,B,61891,0,1,0,...,1,0,0,0,0,0,0,0.000000,1.800000,1.50
2,20160401HHLG0,20160401,LG,HH,0,B,62146,0,1,0,...,0,0,0,0,0,0,0,0.000000,3.000000,0.00
3,20160401HHLG0,20160401,LG,HH,0,B,62698,1,0,0,...,4,1,0,0,0,4,4,0.818182,1.588235,3.75
4,20160401HHLG0,20160401,HH,LG,0,T,65764,0,1,0,...,1,0,0,0,0,1,1,0.000000,1.500000,0.00

In [4]:
pitcher.head()

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,P_ID,START_CK,RELIEF_CK,CG_CK,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
0,20160401HHLG0,20160401,LG,HH,0,B,60146,0,1,0,...,3,0,0,0,0,0,0,0.000000,1.000000,1.50
1,20160401HHLG0,20160401,LG,HH,0,B,61891,0,1,0,...,1,0,0,0,0,0,0,0.000000,1.800000,1.50
2,20160401HHLG0,20160401,LG,HH,0,B,62146,0,1,0,...,0,0,0,0,0,0,0,0.000000,3.000000,0.00
3,20160401HHLG0,20160401,LG,HH,0,B,62698,1,0,0,...,4,1,0,0,0,4,4,0.818182,1.588235,3.75
4,20160401HHLG0,20160401,HH,LG,0,T,65764,0,1,0,...,1,0,0,0,0,1,1,0.000000,1.500000,0.00

## 1. column명이 직관적이지 않기 때문에 한글로 변경

In [5]:
new_columns = "게임키 일자 팀코드 상대팀코드 더블헤더코드 초말 선수코드 선발 구원 완투 종료 결과 홀드 이닝*3 투구수 타자 타수 안타 2루타 3루타 홈런 도루 도루 희타 희비 4구 고4 사구 삼진 병살 폭투 보크 실책 실점 자책 득점권WHIP 2점차이하WHIP 345번타자WHIP"
new_columns = new_columns.split(' ')

In [102]:
pitcher_2016.columns = new_columns
pitcher_2017.columns = new_columns
pitcher_2018.columns = new_columns
pitcher_2019.columns = new_columns
pitcher_2020.columns = new_columns
pitcher.columns = new_columns

In [7]:
pitcher.head()

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,선수코드,선발,구원,완투,...,삼진,병살,폭투,보크,실책,실점,자책,득점권WHIP,2점차이하WHIP,345번타자WHIP
0,20160401HHLG0,20160401,LG,HH,0,B,60146,0,1,0,...,3,0,0,0,0,0,0,0.000000,1.000000,1.50
1,20160401HHLG0,20160401,LG,HH,0,B,61891,0,1,0,...,1,0,0,0,0,0,0,0.000000,1.800000,1.50
2,20160401HHLG0,20160401,LG,HH,0,B,62146,0,1,0,...,0,0,0,0,0,0,0,0.000000,3.000000,0.00
3,20160401HHLG0,20160401,LG,HH,0,B,62698,1,0,0,...,4,1,0,0,0,4,4,0.818182,1.588235,3.75
4,20160401HHLG0,20160401,HH,LG,0,T,65764,0,1,0,...,1,0,0,0,0,1,1,0.000000,1.500000,0.00

## 2. 데이터 크기 확인

In [17]:
year = 2016
for i in pitcher_list:
    print(str(year) + ":" + str(i.shape))
    year = year+1
print("전체:" + str(pitcher.shape))

2016:(6413, 38)
2017:(6031, 38)
2018:(6258, 38)
2019:(6215, 38)
2020:(2887, 38)
전체:(27804, 38)

In [18]:
pitcher.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27804 entries, 0 to 2886
Data columns (total 38 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   게임키         27804 non-null  object
 1   일자          27804 non-null  int64
 2   팀코드         27804 non-null  object
 3   상대팀코드       27804 non-null  object
 4   더블헤더코드      27804 non-null  int64
 5   초말          27804 non-null  object
 6   선수코드        27804 non-null  int64
 7   선발          27804 non-null  int64
 8   구원          27804 non-null  int64
 9   완투          27804 non-null  int64
 10  종료          27804 non-null  int64
 11  결과          27804 non-null  object
 12  홀드          27804 non-null  int64
 13  이닝*3        27804 non-null  int64
 14  투구수         27804 non-null  int64
 15  타자          27804 non-null  int64
 16  타수          27804 non-null  int64
 17  안타          27804 non-null  int64
 18  2루타         27804 non-null  int64
 19  3루타         27804 non-null  int64
 20  홈런          27804 non-null  int64
 21  도루          27804 non-null  int64
 22  도루          27804 non-null  int64
 23  희타          27804 non-null  int64
 24  희비          27804 non-null  int64
 25  4구          27804 non-null  int64
 26  고4          27804 non-null  int64
 27  사구          27804 non-null  int64
 28  삼진          27804 non-null  int64
 29  병살          27804 non-null  int64
 30  폭투          27804 non-null  int64
 31  보크          27804 non-null  int64
 32  실책          27804 non-null  int64
 33  실점          27804 non-null  int64
 34  자책          27804 non-null  int64
 35  득점권WHIP     27804 non-null  float64
 36  2점차이하WHIP   27804 non-null  float64
 37  345번타자WHIP  27804 non-null  float64
dtypes: float64(3), int64(30), object(5)
memory usage: 8.3+ MB

In [110]:
pitcher.isnull().sum()

게임키            0
일자             0
팀코드            0
상대팀코드          0
더블헤더코드         0
초말             0
선수코드           0
선발             0
구원             0
완투             0
종료             0
결과             0
홀드             0
이닝*3           0
투구수            0
타자             0
타수             0
안타             0
2루타            0
3루타            0
홈런             0
도루             0
도루             0
희타             0
희비             0
4구             0
고4             0
사구             0
삼진             0
병살             0
폭투             0
보크             0
실책             0
실점             0
자책             0
득점권WHIP        0
2점차이하WHIP      0
345번타자WHIP     0
시즌             0
선수명            0
나이             0
연봉            12
dtype: int64

In [27]:
# 왜 이닝이 *3 인가 의문
pitcher['이닝*3']

0        6
1        5
2        1
3       18
4        4
        ..
2882    15
2883     2
2884     2
2885     1
2886     1
Name: 이닝*3, Length: 27804, dtype: int64

## 3. 팀투수와 비교

In [30]:
team_pitcher_2020 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2020.csv', encoding='utf-8-sig')
team_pitcher_2020.head(10)

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,CG_CK,WLS,HOLD,INN2,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
0,20200505HHSK0,20200505,SK,HH,0,B,0,L,0,27,...,5,1,0,0,0,3,3,1.5,1.200000,1.333333
1,20200505HHSK0,20200505,HH,SK,0,T,1,W,0,27,...,2,0,0,0,0,0,0,0.0,0.000000,0.750000
2,20200505LTKT0,20200505,KT,LT,0,B,0,L,0,27,...,9,1,0,0,0,7,7,3.0,1.285714,1.875000
3,20200505LTKT0,20200505,LT,KT,0,T,0,W,0,27,...,8,1,0,0,0,2,2,0.0,1.000000,2.571429
4,20200505NCSS0,20200505,SS,NC,0,B,0,L,0,27,...,9,0,0,0,0,4,4,1.5,1.058824,2.142857
5,20200505NCSS0,20200505,NC,SS,0,T,0,W,0,27,...,8,0,1,0,0,0,0,0.6,1.000000,3.000000
6,20200505OBLG0,20200505,LG,OB,0,B,0,W,2,27,...,9,1,0,0,0,2,2,0.0,0.750000,1.500000
7,20200505OBLG0,20200505,OB,LG,0,T,0,L,0,24,...,6,1,2,0,0,8,8,3.5,1.285714,3.000000
8,20200505WOHT0,20200505,HT,WO,0,B,0,L,0,27,...,5,1,0,0,0,11,11,7.0,2.142857,3.428571
9,20200505WOHT0,20200505,WO,HT,0,T,0,W,0,27,...,7,2,0,0,0,2,0,1.0,1.500000,1.875000

In [40]:
team_pitcher_2020['G_ID'].value_counts().unique()

array([2], dtype=int64)

## => 팀투수 선수가 아니라 그날 경기 결과가 정리되어 있다.

## 4. 선수와 결합

In [95]:
player_2016 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_선수_2016.csv', encoding='CP949')
player_2017 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_선수_2017.csv', encoding='CP949')
player_2018 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_선수_2018.csv', encoding='CP949')
player_2019 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_선수_2019.csv', encoding='CP949')
player_2020 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_선수_2020.csv', encoding='CP949')
player_list = [player_2016, player_2017, player_2018, player_2019, player_2020]
player = pd.concat(player_list)

In [96]:
player_2016.head()

   GYEAR  PCODE NAME T_ID POSITION  AGE_VA   MONEY
0   2016  60100  백창수   LG        내      28  4000만원
1   2016  60105  배민관   LG        투      25  2700만원
2   2016  60146  이승현   LG        투      25  3700만원
3   2016  60164  유경국   LG        투      25  2700만원
4   2016  60181  김지용   LG        투      28  4000만원

In [97]:
player.columns = ["시즌","선수코드", "선수명", "팀코드", "포지션", "나이", "연봉"]
player.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3271 entries, 0 to 626
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시즌      3271 non-null   int64
 1   선수코드    3271 non-null   int64
 2   선수명     3271 non-null   object
 3   팀코드     3271 non-null   object
 4   포지션     3271 non-null   object
 5   나이      3271 non-null   int64
 6   연봉      3270 non-null   object
dtypes: int64(3), object(4)
memory usage: 204.4+ KB

In [98]:
# 벤헤켄이 없음
# https://www.mk.co.kr/news/home/view/2016/11/795148/ 실제로 돈을 안받았다고 한다.
player[player['연봉'].isnull()]

      시즌   선수코드  선수명 팀코드 포지션  나이   연봉
95  2016  62322  밴헤켄  WO   투  37  NaN

In [106]:
player = player[["시즌","선수코드", "선수명", "나이", "연봉"]]
player.head()

     시즌   선수코드  선수명  나이      연봉
0  2016  60100  백창수  28  4000만원
1  2016  60105  배민관  25  2700만원
2  2016  60146  이승현  25  3700만원
3  2016  60164  유경국  25  2700만원
4  2016  60181  김지용  28  4000만원

In [103]:
pitcher['일자'] = pd.to_datetime(pitcher['일자'],format='%Y%m%d', errors='raise')

In [104]:
# 시즌 칼럼 추가
pitcher['시즌'] = pitcher['일자'].dt.year

In [105]:
pitcher.head()

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,선수코드,선발,구원,완투,...,병살,폭투,보크,실책,실점,자책,득점권WHIP,2점차이하WHIP,345번타자WHIP,시즌
0,20160401HHLG0,2016-04-01,LG,HH,0,B,60146,0,1,0,...,0,0,0,0,0,0,0.000000,1.000000,1.50,2016
1,20160401HHLG0,2016-04-01,LG,HH,0,B,61891,0,1,0,...,0,0,0,0,0,0,0.000000,1.800000,1.50,2016
2,20160401HHLG0,2016-04-01,LG,HH,0,B,62146,0,1,0,...,0,0,0,0,0,0,0.000000,3.000000,0.00,2016
3,20160401HHLG0,2016-04-01,LG,HH,0,B,62698,1,0,0,...,1,0,0,0,4,4,0.818182,1.588235,3.75,2016
4,20160401HHLG0,2016-04-01,HH,LG,0,T,65764,0,1,0,...,0,0,0,0,1,1,0.000000,1.500000,0.00,2016

In [107]:
pitcher = pd.merge(pitcher, player, on=['시즌', '선수코드'], how='left')

In [108]:
pitcher.head()

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,선수코드,선발,구원,완투,...,실책,실점,자책,득점권WHIP,2점차이하WHIP,345번타자WHIP,시즌,선수명,나이,연봉
0,20160401HHLG0,2016-04-01,LG,HH,0,B,60146,0,1,0,...,0,0,0,0.000000,1.000000,1.50,2016,이승현,25,3700만원
1,20160401HHLG0,2016-04-01,LG,HH,0,B,61891,0,1,0,...,0,0,0,0.000000,1.800000,1.50,2016,임정우,25,12500만원
2,20160401HHLG0,2016-04-01,LG,HH,0,B,62146,0,1,0,...,0,0,0,0.000000,3.000000,0.00,2016,최성훈,27,3500만원
3,20160401HHLG0,2016-04-01,LG,HH,0,B,62698,1,0,0,...,0,4,4,0.818182,1.588235,3.75,2016,소사,31,500000달러
4,20160401HHLG0,2016-04-01,HH,LG,0,T,65764,0,1,0,...,0,1,1,0.000000,1.500000,0.00,2016,김민우,21,3800만원

In [114]:
pitcher[pitcher['연봉'].isnull()]['선수명'].unique()

array(['밴헤켄'], dtype=object)

In [116]:
pitcher.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '선수코드', '선발', '구원', '완투',
       '종료', '결과', '홀드', '이닝*3', '투구수', '타자', '타수', '안타', '2루타', '3루타', '홈런',
       '도루', '도루', '희타', '희비', '4구', '고4', '사구', '삼진', '병살', '폭투', '보크', '실책',
       '실점', '자책', '득점권WHIP', '2점차이하WHIP', '345번타자WHIP', '시즌', '선수명', '나이',
       '연봉'],
      dtype='object')

In [119]:
pitcher_era = pitcher[['일자', '선수코드', '자책', '이닝*3']]
pitcher_era['자책'].sum()

30796

## 5.평균자책점

In [144]:
pitcher_era = pitcher[['일자', '선수코드', '자책', '이닝*3']]
def createERA(row):
    pitcher_player = pitcher[pitcher['선수코드'] == row['선수코드']].copy()
    pitcher_player = pitcher_player[(pitcher_player['시즌'] == row['시즌']) &(pitcher_player['일자'] < row['일자'])]
    r = pitcher_player['자책'].sum()
    inn = pitcher_player['이닝*3'].sum() / 3
    if inn == 0:
        return 0
    ERA = (r * 9) / inn
    return ERA
pitcher['평균자책점_경기전'] = pitcher.apply(createERA, axis=1)

In [145]:
pitcher[pitcher['선수코드'] == 62698].head(40)

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,선수코드,선발,구원,완투,...,실점,자책,득점권WHIP,2점차이하WHIP,345번타자WHIP,시즌,선수명,나이,연봉,평균자책점_경기전
3,20160401HHLG0,2016-04-01,LG,HH,0,B,62698,1,0,0,...,4,4,0.818182,1.588235,3.750000,2016,소사,31,500000달러,0.000000
198,20160407LGHT0,2016-04-07,LG,HT,0,T,62698,1,0,0,...,3,3,3.000000,1.363636,1.200000,2016,소사,31,500000달러,6.000000
394,20160412LTLG0,2016-04-12,LG,LT,0,B,62698,1,0,0,...,4,4,6.000000,1.058824,1.500000,2016,소사,31,500000달러,5.727273
611,20160419NCLG0,2016-04-19,LG,NC,0,B,62698,1,0,0,...,5,4,4.500000,1.588235,0.857143,2016,소사,31,500000달러,5.823529
837,20160424LGWO0,2016-04-24,LG,WO,0,T,62698,1,0,0,...,3,3,1.000000,1.666667,2.400000,2016,소사,31,500000달러,5.869565
989,20160430KTLG0,2016-04-30,LG,KT,0,B,62698,1,0,0,...,3,3,9.000000,1.421053,1.285714,2016,소사,31,500000달러,5.586207
1167,20160505OBLG0,2016-05-05,LG,OB,0,B,62698,1,0,0,...,3,3,1.500000,1.588235,1.285714,2016,소사,31,500000달러,5.349057
1373,20160511SSLG0,2016-05-11,LG,SS,0,B,62698,1,0,0,...,2,2,2.400000,1.000000,1.875000,2016,소사,31,500000달러,5.268293
1564,20160517LGKT0,2016-05-17,LG,KT,0,T,62698,1,0,0,...,6,6,2.250000,1.714286,2.000000,2016,소사,31,500000달러,4.775510
1801,20160522WOLG0,2016-05-22,LG,WO,0,B,62698,1,0,0,...,3,3,0.750000,1.142857,0.857143,2016,소사,31,500000달러,5.300613
1960,20160528LGOB0,2016-05-28,LG,OB,0,T,62698,1,0,0,...,3,3,3.000000,1.173913,1.714286,2016,소사,31,500000달러,5.135870
2171,20160603LGKT0,2016-06-03,LG,KT,0,T,62698,1,0,0,...,2,2,0.000000,1.000000,2.400000,2016,소사,31,500000달러,4.956522
2385,20160609SSLG0,2016-06-09,LG,SS,0,B,62698,1,0,0,...,2,2,0.600000,0.600000,0.857143,2016,소사,31,500000달러,4.800000
2540,20160614NCLG0,2016-06-14,LG,NC,0,B,62698,1,0,0,...,2,2,0.000000,0.857143,0.375000,2016,소사,31,500000달러,4.591093
2718,20160619HTLG0,2016-06-19,LG,HT,0,B,62698,1,0,0,...,6,4,1.000000,2.250000,1.000000,2016,소사,31,500000달러,4.416357
2957,20160625WOLG0,2016-06-25,LG,WO,0,B,62698,1,0,0,...,5,4,1.000000,1.000000,1.500000,2016,소사,31,500000달러,4.547368
3177,20160702SKLG0,2016-07-02,LG,SK,0,B,62698,1,0,0,...,1,1,0.600000,0.857143,0.750000,2016,소사,31,500000달러,4.588235
3321,20160708LGLT0,2016-07-08,LG,LT,0,T,62698,1,0,0,...,5,5,1.500000,1.588235,2.400000,2016,소사,31,500000달러,4.376147
3506,20160713HHLG0,2016-07-13,LG,HH,0,B,62698,1,0,0,...,5,5,1.800000,1.071429,0.857143,2016,소사,31,500000달러,4.539130
3633,20160719LGWO0,2016-07-19,LG,WO,0,T,62698,1,0,0,...,5,5,6.000000,2.250000,4.000000,2016,소사,31,500000달러,4.725000
3851,20160724OBLG0,2016-07-24,LG,OB,0,B,62698,1,0,0,...,3,3,0.500000,1.285714,0.750000,2016,소사,31,500000달러,4.935484
4078,20160730LGNC0,2016-07-30,LG,NC,0,T,62698,1,0,0,...,3,3,1.000000,0.500000,1.500000,2016,소사,31,500000달러,4.877863
4238,20160805KTLG0,2016-08-05,LG,KT,0,B,62698,1,0,0,...,1,1,0.428571,1.000000,0.375000,2016,소사,31,500000달러,4.861314
4480,20160811NCLG0,2016-08-11,LG,NC,0,B,62698,1,0,0,...,2,2,0.300000,1.500000,0.375000,2016,소사,31,500000달러,4.655172
4679,20160817SKLG0,2016-08-17,LG,SK,0,B,62698,1,0,0,...,7,7,5.000000,3.300000,2.000000,2016,소사,31,500000달러,4.589404
4901,20160823LGOB0,2016-08-23,LG,OB,0,T,62698,1,0,0,...,3,1,1.000000,1.166667,0.857143,2016,소사,31,500000달러,4.856531
5064,20160828KTLG0,2016-08-28,LG,KT,0,B,62698,1,0,0,...,10,9,3.600000,2.142857,4.500000,2016,소사,31,500000달러,4.731959
5255,20160903LGKT0,2016-09-03,LG,KT,0,T,62698,1,0,0,...,4,4,4.000000,3.500000,6.000000,2016,소사,31,500000달러,5.065868
5496,20160909OBLG0,2016-09-09,LG,OB,0,B,62698,1,0,0,...,3,3,1.200000,1.125000,2.400000,2016,소사,31,500000달러,5.218935
5683,20160914LGNC0,2016-09-14,LG,NC,0,T,62698,1,0,0,...,6,6,2.625000,3.600000,1.800000,2016,소사,31,500000달러,5.184411
5902,20160920LGHH0,2016-09-20,LG,HH,0,T,62698,1,0,0,...,3,3,0.000000,0.900000,1.285714,2016,소사,31,500000달러,5.350000
6189,20160930SKLG0,2016-09-30,LG,SK,0,B,62698,1,0,0,...,3,3,0.750000,1.227273,1.333333,2016,소사,31,500000달러,5.322581
6313,20161006LGLT0,2016-10-06,LG,LT,0,T,62698,1,0,0,...,1,1,1.200000,1.312500,1.200000,2016,소사,31,500000달러,5.251291
6440,20170331LGWO0,2017-03-31,LG,WO,0,T,62698,1,0,0,...,1,1,1.000000,0.947368,0.666667,2017,소사,32,500000달러,0.000000
6621,20170406SSLG0,2017-04-06,LG,SS,0,B,62698,1,0,0,...,0,0,0.000000,0.600000,0.375000,2017,소사,32,500000달러,1.421053
6826,20170412LGNC0,2017-04-12,LG,NC,0,T,62698,1,0,0,...,1,1,0.750000,1.142857,6.000000,2017,소사,32,500000달러,0.642857
7010,20170418LGHH0,2017-04-18,LG,HH,0,T,62698,1,0,0,...,2,2,0.600000,1.000000,1.285714,2017,소사,32,500000달러,0.857143
7217,20170423HTLG0,2017-04-23,LG,HT,0,B,62698,1,0,0,...,0,0,0.000000,1.333333,1.500000,2017,소사,32,500000달러,1.285714
7404,20170429LGKT0,2017-04-29,LG,KT,0,T,62698,1,0,0,...,6,6,6.000000,1.500000,1.500000,2017,소사,32,500000달러,1.058824
7637,20170505LGOB0,2017-05-05,LG,OB,0,T,62698,1,0,0,...,1,1,1.200000,1.090909,0.750000,2017,소사,32,500000달러,2.432432

In [146]:
pitcher.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27804 entries, 0 to 27803
Data columns (total 43 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   게임키         27804 non-null  object
 1   일자          27804 non-null  datetime64[ns]
 2   팀코드         27804 non-null  object
 3   상대팀코드       27804 non-null  object
 4   더블헤더코드      27804 non-null  int64
 5   초말          27804 non-null  object
 6   선수코드        27804 non-null  int64
 7   선발          27804 non-null  int64
 8   구원          27804 non-null  int64
 9   완투          27804 non-null  int64
 10  종료          27804 non-null  int64
 11  결과          27804 non-null  object
 12  홀드          27804 non-null  int64
 13  이닝*3        27804 non-null  int64
 14  투구수         27804 non-null  int64
 15  타자          27804 non-null  int64
 16  타수          27804 non-null  int64
 17  안타          27804 non-null  int64
 18  2루타         27804 non-null  int64
 19  3루타         27804 non-null  int64
 20  홈런          27804 non-null  int64
 21  도루          27804 non-null  int64
 22  도루          27804 non-null  int64
 23  희타          27804 non-null  int64
 24  희비          27804 non-null  int64
 25  4구          27804 non-null  int64
 26  고4          27804 non-null  int64
 27  사구          27804 non-null  int64
 28  삼진          27804 non-null  int64
 29  병살          27804 non-null  int64
 30  폭투          27804 non-null  int64
 31  보크          27804 non-null  int64
 32  실책          27804 non-null  int64
 33  실점          27804 non-null  int64
 34  자책          27804 non-null  int64
 35  득점권WHIP     27804 non-null  float64
 36  2점차이하WHIP   27804 non-null  float64
 37  345번타자WHIP  27804 non-null  float64
 38  시즌          27804 non-null  int64
 39  선수명         27804 non-null  object
 40  나이          27804 non-null  int64
 41  연봉          27792 non-null  object
 42  평균자책점_경기전   27804 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(31), object(7)
memory usage: 9.3+ MB

In [153]:
import chart_studio.plotly as py
import cufflinks as cf
cf.go_offline(connected=True)

In [156]:
pitcher[(pitcher['선수코드'] == 62698) & (pitcher['시즌'] == 2016)].set_index('일자')['평균자책점_경기전'].iplot(kind='bar')

In [150]:
pitcher_save = pitcher['일자'].astype('object')
pitcher.to_csv("EDA결과/EDA1-개인투수_평균자책점.csv", encoding='utf-8-sig')