<a href="https://colab.research.google.com/github/seonghunYang/big_contest2020/blob/master/EDA12_1%EC%B0%A8_%EC%B5%9C%EC%A2%85_%EB%B3%80%EC%88%98%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
path = './gdrive/My Drive/빅콘테스트2020/데이터/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/'

In [2]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [3]:
team_pitcher = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_팀투수.csv', encoding='utf-8-sig')
pitcher = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_개인투수.csv', encoding='utf-8-sig')
team_hitter = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_팀타자.csv', encoding='utf-8-sig')
hitter = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_개인타자.csv', encoding='utf-8-sig')
team_data = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_공통.csv', encoding='utf-8-sig')

In [4]:
data_list = [team_pitcher, pitcher, team_hitter, hitter,team_data]

In [5]:
for data in data_list:
  data['일자'] = pd.to_datetime(data['일자'],format='%Y-%m-%d', errors='raise')

In [30]:
## 저장 공간
team_pitcher.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_팀투수.csv', encoding='utf-8-sig', index=False)
pitcher.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_개인투수.csv', encoding='utf-8-sig', index=False)
team_data.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_공통.csv', encoding='utf-8-sig', index=False)
team_hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_팀타자.csv', encoding='utf-8-sig', index=False)
hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_개인타자.csv', encoding='utf-8-sig', index=False)

In [ ]:
# 변화 확인하기
team_pitcher.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '완투', '결과', '홀드', '이닝*3',
       '투구수', '타자', '타수', '안타', '2루타', '3루타', '홈런', '도루', '도루실패', '희타', '희비',
       '4구', '고4', '사구', '삼진', '병살타', '폭투', '보크', '실책', '실점', '자책점', '득점권WHIP',
       '2점차이하WHIP', '345번타자WHIP', '시즌', '평균자책점', 'RA/9', 'ERC', 'FIP', 'LOB',
       '홈런율', '삼진율', 'K9', 'BB9', 'HR9', 'KBB', 'whip', 'P/G', 'P/IP', 'P/PA',
       'PFR', 'CYP', 'F-E', 'R-E', '총합연봉', '평균연봉', 'OAVG', 'OOBP', '단타',
       'OSLG', 'OOPS', 'kwERA', 'K%', 'BB%'],
      dtype='object')

OOPS수정

In [ ]:
team_pitcher['OOPS'] = team_pitcher['OOBP'] + team_pitcher['OSLG']
pitcher['OOPS'] = pitcher['OOBP'] + pitcher['OSLG']

소수점 3자리로통일

In [ ]:
team_pitcher = team_pitcher.round(3)
pitcher = pitcher.round(3)
team_hitter = team_hitter.round(3)
hitter = hitter.round(3)

공통 데이터 구하기

In [ ]:
team_data.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_공통.csv', encoding='utf-8-sig', index=False)

In [ ]:
team_code = ['NC', 'OB', 'WO', 'HT', "LG", 'SS', 'KT', 'LT', 'SK', "HH"]
def createDate(row):
  previous = team_pitcher[(team_pitcher['팀코드'] == row['팀코드']) & (team_pitcher['시즌'] == row['시즌']) & (team_pitcher['일자'] < row['일자']) ].tail(1)
  if len(previous) == 0:
    row['경기간간격'] = 0
    return row
  previous = previous.sum()
  a = (row['일자'] - previous['일자'])
  # print(a)
  row['경기간간격'] = a.days
  # print(row['일자'],  previous['일자'], row['경기간간격'])
  return row

In [ ]:
team_data = team_data.apply(createDate, axis=1)

In [ ]:
team_data['월'] =  team_data['일자'].dt.month

In [ ]:

def team_encoding(row, team_code):
  if row['팀코드'] == team_code:
    row[team_code] = 1
  else:
    row[team_code] = 0
  return row

def createHome(row):
  if row['초말'] == 'B':
    row['초말'] = 1
  else:
    row['초말'] = 0
  return row

def createOutIn(row):
  if row['이닝*3'] < 24:
    row['우취'] = 1
    row['연장'] = 0
  elif row['이닝*3'] > 27:
    row['우취'] = 0
    row['연장'] = 1
  else:
    row['우취'] = 0
    row['연장'] = 0
  return row

In [ ]:
team_code = ['NC', 'OB', 'WO', 'HT', "LG", 'SS', 'KT', 'LT', 'SK', "HH"]

for team in team_code:
  team_data = team_data.apply(team_encoding, axis=1, team_code=team)


team_data = team_data.apply(createHome, axis=1)
team_data = team_data.apply(createOutIn, axis=1)

In [ ]:
# 함수 모아놓은 곳
def gainCreate(row):
    row['득점'] = int(team_data[(row['게임키'] == team_data['게임키']) & (team_data['팀코드'] == row['상대팀코드'])]['실점'])
    return row

def createInfo(row):
    previous = team_data[(team_data['팀코드'] == row['팀코드']) & (team_data['일자'] < row['일자']) & (team_data['시즌'] == row['시즌'])].copy()
    if len(previous) == 0:
        row['시작전총득점'] = 0
        row['시작전총실점'] = 0
        row['시작전평균득점'] = 0
        row['시작전평균실점'] = 0
    else:
        gainSum = previous['득점'].sum()
        gainMean = gainSum / len(previous)
        lossSum = previous['실점'].sum()
        lossMean = lossSum / len(previous)
        row['시작전총득점'] = gainSum
        row['시작전총실점'] = lossSum
        row['시작전평균득점'] = gainMean
        row['시작전평균실점'] = lossMean
    return row

def winP(row):
    previous = team_data[(team_data['팀코드'] == row['팀코드']) & (team_data['일자'] < row['일자']) & (team_data['시즌'] == row['시즌'])].copy()
    if len(previous) == 0:
        row['시작전승수'] = 0
        row['시작전패배수'] = 0
        row['시작전승률'] = 0
    else:
        winSum = len(previous[previous['결과'] == "W"])
        lossSum = len(previous[previous['결과'] == "L"])
        winMean = winSum / len(previous)
        row['시작전승수'] = winSum
        row['시작전패배수'] = lossSum
        row['시작전승률'] = winMean
    return row

In [ ]:
team_data = team_data.apply(gainCreate, axis=1)
team_data = team_data.apply(createInfo, axis=1)
team_data = team_data.apply(winP, axis=1)

In [ ]:
team_data

                게임키         일자 팀코드 상대팀코드  ...   시작전평균실점  시작전승수 시작전패배수     시작전승률
0     20160401HHLG0 2016-04-01  LG    HH  ...  0.000000      0      0  0.000000
1     20160401HHLG0 2016-04-01  HH    LG  ...  0.000000      0      0  0.000000
2     20160401HTNC0 2016-04-01  NC    HT  ...  0.000000      0      0  0.000000
3     20160401HTNC0 2016-04-01  HT    NC  ...  0.000000      0      0  0.000000
4     20160401KTSK0 2016-04-01  SK    KT  ...  0.000000      0      0  0.000000
...             ...        ...  ..   ...  ...       ...    ...    ...       ...
6395  20200719LTSS0 2020-07-19  LT    SS  ...  5.245902     29     32  0.475410
6396  20200719OBHT0 2020-07-19  HT    OB  ...  4.622951     33     28  0.540984
6397  20200719OBHT0 2020-07-19  OB    HT  ...  5.523810     37     26  0.587302
6398  20200719WOSK0 2020-07-19  SK    WO  ...  5.281250     20     44  0.312500
6399  20200719WOSK0 2020-07-19  WO    SK  ...  5.107692     38     27  0.584615

[6400 rows x 32 columns]

In [ ]:
team_data['피타고리안기대승률'] = (team_data['시작전총득점'] ** 2) / ((team_data['시작전총득점'] ** 2) + (team_data['시작전총실점'] ** 2))

In [9]:
team_data = team_data.fillna(0)

In [11]:
team_data

                게임키         일자 팀코드 상대팀코드  ...  시작전승수  시작전패배수     시작전승률  피타고리안기대승률
0     20160401HHLG0 2016-04-01  LG    HH  ...      0       0  0.000000   0.000000
1     20160401HHLG0 2016-04-01  HH    LG  ...      0       0  0.000000   0.000000
2     20160401HTNC0 2016-04-01  NC    HT  ...      0       0  0.000000   0.000000
3     20160401HTNC0 2016-04-01  HT    NC  ...      0       0  0.000000   0.000000
4     20160401KTSK0 2016-04-01  SK    KT  ...      0       0  0.000000   0.000000
...             ...        ...  ..   ...  ...    ...     ...       ...        ...
6395  20200719LTSS0 2020-07-19  LT    SS  ...     29      32  0.475410   0.476014
6396  20200719OBHT0 2020-07-19  HT    OB  ...     33      28  0.540984   0.542368
6397  20200719OBHT0 2020-07-19  OB    HT  ...     37      26  0.587302   0.552912
6398  20200719WOSK0 2020-07-19  SK    WO  ...     20      44  0.312500   0.349956
6399  20200719WOSK0 2020-07-19  WO    SK  ...     38      27  0.584615   0.549946

[6400 rows x 33 columns]

상대전적별 데이터 구하기

In [13]:
vs_hitter = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-개인타자_상대별_세이버매트릭스_합본.csv', encoding='utf-8-sig')
vs_team_hitter = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-팀타자_상대별_세이버매트릭스_합본.csv', encoding='utf-8-sig')
vs_pitcher = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA8-상대전적_개안투수_세이버 매트릭스_합본.csv', encoding='utf-8-sig')
vs_team_pitcher = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA8-상대전적_팀투수_세이버 매트릭스_합본.csv', encoding='utf-8-sig')
# team_data = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_공통.csv', encoding='utf-8-sig')

In [27]:
vs_team_pitcher.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_상대_팀투수.csv', encoding='utf-8-sig', index=False)

In [14]:
vs_team_hitter

      Unnamed: 0            게임키          일자  ...      상대wRC     상대HR%     상대GPA
0              0  20160401HHLG0  2016-04-01  ...   0.000000  0.000000  0.000000
1              1  20160401HHLG0  2016-04-01  ...   0.000000  0.000000  0.000000
2              2  20160401HTNC0  2016-04-01  ...   0.000000  0.000000  0.000000
3              3  20160401HTNC0  2016-04-01  ...   0.000000  0.000000  0.000000
4              4  20160401KTSK0  2016-04-01  ...   0.000000  0.000000  0.000000
...          ...            ...         ...  ...        ...       ...       ...
6395         635  20200719LTSS0  2020-07-19  ...   8.018131  0.010067  0.213500
6396         636  20200719OBHT0  2020-07-19  ...  20.276013  0.013158  0.250378
6397         637  20200719OBHT0  2020-07-19  ...  28.247471  0.012945  0.272074
6398         638  20200719WOSK0  2020-07-19  ...  13.402075  0.026230  0.229604
6399         639  20200719WOSK0  2020-07-19  ...  36.600850  0.030675  0.290882

[6400 rows x 45 columns]

In [15]:
def createRC(row):
    previous = vs_team_hitter[(vs_team_hitter['시즌'] == row['시즌']) & (vs_team_hitter['팀코드'] == row['팀코드']) & (vs_team_hitter['상대팀코드'] == row['상대팀코드']) & (vs_team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['RC'] = 0
        return row
    previous_sum = previous.sum()
    upA = previous_sum['안타']+previous_sum['4구']-previous_sum['도루실패']+previous_sum['사구']-previous_sum['병살타']
    upB = (previous_sum['단타']*1.125)+(1.69*previous_sum['2루타'])+(3.02*previous_sum['3루타'])+(3.73*previous_sum['홈런'])+ 0.29*(previous_sum['4구']-previous_sum['고4']+previous_sum['사구'])
    down = previous_sum['타수']+previous_sum['4구']+previous_sum['사구']+previous_sum['희비']+previous_sum['희타']
    if down == 0:
        row['RC'] = 0
        return row
    row['RC'] = ((2.4*down+upA)*(3*down+upB)/(9*down)) - (0.9*down)
    
    return row

def createRC27(row):
    previous = vs_team_hitter[(vs_team_hitter['시즌'] == row['시즌']) & (vs_team_hitter['팀코드'] == row['팀코드']) & (vs_team_hitter['상대팀코드'] == row['상대팀코드']) & (vs_team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['RC27'] = 0
        return row
    previous_sum = previous.sum()
    down = previous_sum['타수'] - previous_sum['안타']+previous_sum['병살타']+previous_sum['도루실패']+previous_sum['희타']+previous_sum['희비']
    if down == 0:
        row['RC27'] = 0
        return row
    row['RC27'] = (row['RC']/down)*27
    
    return row


def createSPD(row):
    previous = vs_team_hitter[(vs_team_hitter['시즌'] == row['시즌']) & (vs_team_hitter['팀코드'] == row['팀코드']) & (vs_team_hitter['상대팀코드'] == row['상대팀코드']) & (vs_team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['SPD'] = 0
        return row
    previous_sum = previous.sum()
    try:
        f1 = ((previous_sum['도루']+3)/(previous_sum['도루']+previous_sum['도루실패']+7)-0.4) * 20
        f2 = ((previous_sum['도루']+previous_sum['도루실패'])/(previous_sum['단타']+previous_sum['4구']+previous_sum['사구']))**0.5/0.07
        f3 = previous_sum['3루타']/(previous_sum['타수']-previous_sum['홈런']-previous_sum['삼진'])/ 0.02*10
        f4 = ((previous_sum['득점']-previous_sum['홈런'])/(previous_sum['안타']+previous_sum['4구']-previous_sum['홈런']-previous_sum['사구'])-0.1)/0.04
        f5 = (0.055-previous_sum['병살타']/(previous_sum['타수']-previous_sum['홈런']-previous_sum['삼진']))/0.005
    except ZeroDivisionError:
        row['SPD'] = 0
        return row
    row['SPD'] = (f1+f2+f3+f4+f5) / 5
    return row

def createXR(row):
    previous = vs_team_hitter[(vs_team_hitter['시즌'] == row['시즌']) & (vs_team_hitter['팀코드'] == row['팀코드']) & (vs_team_hitter['상대팀코드'] == row['상대팀코드']) & (vs_team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['XR'] = 0
        return row
    previous_sum = previous.sum()
    try:
        Y1 = 0.5*previous_sum['단타']+0.72*previous_sum['2루타']+1.04*previous_sum['3루타']+1.44*previous_sum['홈런']
        Y2 = (previous_sum['사구']+previous_sum['4구']-previous_sum['고4'])*0.34+0.25*previous_sum['고4']+0.18*previous_sum['도루']-0.32*previous_sum['도루실패']
        Y3 = -(previous_sum['타수']-previous_sum['안타']-previous_sum['삼진'])*0.09-0.098*previous_sum['삼진']-0.37*previous_sum['병살타']+0.37*previous_sum['희비']+0.04*previous_sum['희타']
    except ZeroDivisionError:
        row['XR'] = 0
        return row
    row['XR'] = Y1+Y2+Y3
    return row

In [16]:
try:
  vs_team_hitter = vs_team_hitter.apply(createRC, axis=1)
  vs_team_hitter = vs_team_hitter.apply(createRC27, axis=1)
  vs_team_hitter = vs_team_hitter.apply(createSPD, axis=1)
  vs_team_hitter = vs_team_hitter.apply(createXR, axis=1)
except:
  vs_team_hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_상대_팀타자.csv', encoding='utf-8-sig', index=False)
finally:
  vs_team_hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_상대_팀타자.csv', encoding='utf-8-sig', index=False)

In [17]:
vs_team_hitter

      Unnamed: 0            게임키          일자  ...      RC27       SPD      XR
0              0  20160401HHLG0  2016-04-01  ...  0.000000  0.000000   0.000
1              1  20160401HHLG0  2016-04-01  ...  0.000000  0.000000   0.000
2              2  20160401HTNC0  2016-04-01  ...  0.000000  0.000000   0.000
3              3  20160401HTNC0  2016-04-01  ...  0.000000  0.000000   0.000
4              4  20160401KTSK0  2016-04-01  ...  0.000000  0.000000   0.000
...          ...            ...         ...  ...       ...       ...     ...
6395         635  20200719LTSS0  2020-07-19  ...  3.249440  4.448517  27.252
6396         636  20200719OBHT0  2020-07-19  ...  4.404774  3.027312  34.698
6397         637  20200719OBHT0  2020-07-19  ...  5.166583  3.683077  40.444
6398         638  20200719WOSK0  2020-07-19  ...  3.796139  3.918947  31.132
6399         639  20200719WOSK0  2020-07-19  ...  6.718148  6.956695  53.208

[6400 rows x 49 columns]

In [21]:
def createPFR(row):
    previous = vs_team_pitcher[(vs_team_pitcher['시즌'] == row['시즌']) & (vs_team_pitcher['팀코드'] == row['팀코드'])& (vs_team_pitcher['상대팀코드'] == row['상대팀코드']) & (vs_team_pitcher['일자'] < row['일자'])]
    if len(previous) == 0:
        row['PFR'] = 0
        return row
    previous_sum = previous.sum()
    try:
        pg = (previous_sum["삼진"]+previous_sum["4구"])/(previous_sum["이닝*3"]/3)
    except ZeroDivisionError:
        pg = 0
    row["PFR"] = pg
    return row
def createPG(row):
    previous = vs_team_pitcher[(vs_team_pitcher['시즌'] == row['시즌']) & (vs_team_pitcher['팀코드'] == row['팀코드'])& (vs_team_pitcher['상대팀코드'] == row['상대팀코드']) & (vs_team_pitcher['일자'] < row['일자'])]
    if len(previous) == 0:
        row['P/G'] = 0
        return row
    previous_sum = previous.sum()
    try:
        pg = previous_sum["투구수"]/previous.count()[0]
    except ZeroDivisionError:
        pg = 0
    row["P/G"] = pg
    return row

def createPIP(row):
    previous = vs_team_pitcher[(vs_team_pitcher['시즌'] == row['시즌']) & (vs_team_pitcher['팀코드'] == row['팀코드'])& (vs_team_pitcher['상대팀코드'] == row['상대팀코드']) & (vs_team_pitcher['일자'] < row['일자'])]
    if len(previous) == 0:
        row['P/IP'] = 0
        return row
    previous_sum = previous.sum()
    try:
        pg = previous_sum["투구수"]/(previous_sum["이닝*3"]/3)
    except ZeroDivisionError:
        pg = 0
    row["P/IP"] = pg
    return row
def createPPA(row):
    previous = vs_team_pitcher[(vs_team_pitcher['시즌'] == row['시즌']) & (vs_team_pitcher['팀코드'] == row['팀코드'])& (vs_team_pitcher['상대팀코드'] == row['상대팀코드']) & (vs_team_pitcher['일자'] < row['일자'])]
    if len(previous) == 0:
        row['P/PA'] = 0
        return row
    previous_sum = previous.sum()
    try:
        pg = previous_sum["투구수"]/previous_sum["타자"]
    except ZeroDivisionError:
        pg = 0
    row["P/PA"] = pg
    return row

def createCYP(row):
    previous = vs_team_pitcher[(vs_team_pitcher['시즌'] == row['시즌']) & (vs_team_pitcher['팀코드'] == row['팀코드'])& (vs_team_pitcher['상대팀코드'] == row['상대팀코드']) & (vs_team_pitcher['일자'] < row['일자'])]
    if len(previous) == 0:
        row['CYP'] = 0
        return row
    previous_sum = previous.sum()
    try:
        pg = (previous_sum["이닝*3"]/6-previous_sum["자책점"])+previous_sum["삼진"]/10+len(previous[previous['결과'] == 'W'])
    except ZeroDivisionError:
        pg = 0
    row["CYP"] = pg
    return row

In [22]:
try:
  vs_team_pitcher = vs_team_pitcher.apply(createPFR, axis=1)
  vs_team_pitcher = vs_team_pitcher.apply(createPG, axis=1)
  vs_team_pitcher = vs_team_pitcher.apply(createPIP, axis=1)
  vs_team_pitcher = vs_team_pitcher.apply(createPPA, axis=1)
  vs_team_pitcher = vs_team_pitcher.apply(createCYP, axis=1)
  vs_team_pitcher['상대F-E'] = vs_team_pitcher['상대FIP'] - vs_team_pitcher['상대평균자책점']
  vs_team_pitcher['상대R-E'] = vs_team_pitcher['상대RA/9'] - vs_team_pitcher['상대평균자책점']
except:
  vs_team_pitcher.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_상대_팀투수.csv', encoding='utf-8-sig', index=False)
  print('오류발생')
finally:
  vs_team_pitcher.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_상대_팀투수.csv', encoding='utf-8-sig', index=False)

오류발생

In [26]:
vs_team_pitcher['상대F-E'] = vs_team_pitcher['상대FIP'] - vs_team_pitcher['상대평균자책점']
vs_team_pitcher['상대R-E'] = vs_team_pitcher['상대RA/9'] - vs_team_pitcher['상대평균자책점']

F-E, R-E 수정

In [23]:
team_pitcher

                게임키         일자 팀코드 상대팀코드  더블헤더코드  ...   OOPS  kwERA     K%    BB%  월
0     20160401HHLG0 2016-04-01  LG    HH       0  ...  0.000  0.000  0.000  0.000  4
1     20160401HHLG0 2016-04-01  HH    LG       0  ...  0.000  0.000  0.000  0.000  4
2     20160401HTNC0 2016-04-01  NC    HT       0  ...  0.000  0.000  0.000  0.000  4
3     20160401HTNC0 2016-04-01  HT    NC       0  ...  0.000  0.000  0.000  0.000  4
4     20160401KTSK0 2016-04-01  SK    KT       0  ...  0.000  0.000  0.000  0.000  4
...             ...        ...  ..   ...     ...  ...    ...    ...    ...    ... ..
6395  20200719LTSS0 2020-07-19  LT    SS       0  ...  0.758  4.308  0.174  0.083  7
6396  20200719OBHT0 2020-07-19  HT    OB       0  ...  0.729  3.992  0.199  0.082  7
6397  20200719OBHT0 2020-07-19  OB    HT       0  ...  0.773  4.393  0.166  0.082  7
6398  20200719WOSK0 2020-07-19  SK    WO       0  ...  0.766  4.570  0.176  0.107  7
6399  20200719WOSK0 2020-07-19  WO    SK       0  ...  0.759  4.241  0.167  0.070  7

[6400 rows x 65 columns]

In [28]:
team_pitcher['F-E'] = team_pitcher['FIP'] - team_pitcher['평균자책점']
team_pitcher['R-E'] = team_pitcher['RA/9'] - team_pitcher['평균자책점']

In [29]:
team_pitcher

                게임키         일자 팀코드 상대팀코드  더블헤더코드  ...   OOPS  kwERA     K%    BB%  월
0     20160401HHLG0 2016-04-01  LG    HH       0  ...  0.000  0.000  0.000  0.000  4
1     20160401HHLG0 2016-04-01  HH    LG       0  ...  0.000  0.000  0.000  0.000  4
2     20160401HTNC0 2016-04-01  NC    HT       0  ...  0.000  0.000  0.000  0.000  4
3     20160401HTNC0 2016-04-01  HT    NC       0  ...  0.000  0.000  0.000  0.000  4
4     20160401KTSK0 2016-04-01  SK    KT       0  ...  0.000  0.000  0.000  0.000  4
...             ...        ...  ..   ...     ...  ...    ...    ...    ...    ... ..
6395  20200719LTSS0 2020-07-19  LT    SS       0  ...  0.758  4.308  0.174  0.083  7
6396  20200719OBHT0 2020-07-19  HT    OB       0  ...  0.729  3.992  0.199  0.082  7
6397  20200719OBHT0 2020-07-19  OB    HT       0  ...  0.773  4.393  0.166  0.082  7
6398  20200719WOSK0 2020-07-19  SK    WO       0  ...  0.766  4.570  0.176  0.107  7
6399  20200719WOSK0 2020-07-19  WO    SK       0  ...  0.759  4.241  0.167  0.070  7

[6400 rows x 65 columns]