<a href="https://colab.research.google.com/github/seonghunYang/big_contest2020/blob/master/EDA3_%EC%84%B8%EC%9D%B4%EB%B2%84_%EB%A7%A4%ED%8A%B8%EB%A6%AD%EC%8A%A4_by_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
path = './gdrive/My Drive/빅콘테스트2020/데이터/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/'

In [2]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
hitter_2016 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2016.csv', encoding='utf-8-sig')
hitter_2017 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2017.csv', encoding='utf-8-sig')
hitter_2018 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2018.csv', encoding='utf-8-sig')
hitter_2019 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2019.csv', encoding='utf-8-sig')
hitter_2020 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2020.csv', encoding='utf-8-sig')
hitter = pd.concat(hitter_list)
hitter_list = [hitter_2016, hitter_2017, hitter_2018, hitter_2019, hitter_2020, hitter]

In [ ]:
hitter.head()

             게임키        일자 팀코드 상대팀코드  더블헤더코드  ... 실책  잔루  득점권타율  득점권타수  득점권안타
0  20160401HHLG0  20160401  HH    LG       0  ...  0   1    0.0      0      0
1  20160401HHLG0  20160401  LG    HH       0  ...  0   0    0.0      0      0
2  20160401HHLG0  20160401  LG    HH       0  ...  0   0    1.0      1      1
3  20160401HHLG0  20160401  LG    HH       0  ...  0   0    0.0      0      0
4  20160401HHLG0  20160401  HH    LG       0  ...  1   0    0.0      0      0

[5 rows x 31 columns]

In [ ]:
# 컬럼명 한글로 변경
new_columns = "게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,선수코드,선발,타순,타자,타수,타점,득점,안타,2루타,3루타,홈런,도루,도루실패,희타,희비,4구,고4,사구,삼진,병살타,실책,잔루,득점권타율,득점권타수,득점권안타"
new_columns = new_columns.split(',')
for hitter_i in hitter_list:
    hitter_i.columns = new_columns

In [ ]:
# 일자 datetime으로 속성 변경
for hitter_i in hitter_list:
  hitter_i['일자'] = pd.to_datetime(hitter_i['일자'],format='%Y%m%d', errors='raise')
  hitter_i['시즌'] = hitter_i['일자'].dt.year

In [ ]:
# 단타 구하기 
for hitter_i in hitter_list:
  hitter_i['단타'] = hitter_i['안타'] - (hitter_i['2루타'] + hitter_i['3루타'] + hitter_i['홈런'])

In [ ]:
hitter

                게임키         일자 팀코드 상대팀코드  더블헤더코드  ... 득점권타율  득점권타수  득점권안타    시즌  단타
0     20160401HHLG0 2016-04-01  HH    LG       0  ...   0.0      0      0  2016   1
1     20160401HHLG0 2016-04-01  LG    HH       0  ...   0.0      0      0  2016   0
2     20160401HHLG0 2016-04-01  LG    HH       0  ...   1.0      1      1  2016   2
3     20160401HHLG0 2016-04-01  LG    HH       0  ...   0.0      0      0  2016   0
4     20160401HHLG0 2016-04-01  HH    LG       0  ...   0.0      0      0  2016   1
...             ...        ...  ..   ...     ...  ...   ...    ...    ...   ...  ..
8055  20200719WOSK0 2020-07-19  SK    WO       0  ...   0.0      1      0  2020   1
8056  20200719WOSK0 2020-07-19  SK    WO       0  ...   1.0      1      1  2020   3
8057  20200719WOSK0 2020-07-19  SK    WO       0  ...   0.0      0      0  2020   0
8058  20200719WOSK0 2020-07-19  WO    SK       0  ...   0.0      1      0  2020   0
8059  20200719WOSK0 2020-07-19  WO    SK       0  ...   0.0      0      0  2020   0

[81102 rows x 33 columns]

출루율 => 안타와 사구를 통한 출루 확률 <br/>
장타율 => 장타의 영향력을 확인

In [ ]:
# 출루율/ 장타력 함수
def runBaseP(row):
    previous = hitter[(hitter['시즌'] == row['시즌']) & (hitter['선수코드'] == row['선수코드']) & (hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['출루율'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['안타'] + previous_sum['4구']  + previous_sum['사구']
    down = previous_sum['사구'] + previous_sum['타수'] + previous_sum['4구'] + previous_sum['희비']
    if down == 0:
        row['출루율'] = 0
        return row
    row['출루율'] = up / down
    return row

def longHitP(row):
    previous = hitter[(hitter['시즌'] == row['시즌']) & (hitter['선수코드'] == row['선수코드']) & (hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['장타력'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['단타'] * 1 + previous_sum['2루타'] * 2 + previous_sum['3루타'] * 3 + previous_sum['홈런'] * 4
    down = previous_sum['타수']
    if down == 0:
        row['장타력'] = 0
        return row
    row['장타력'] = up / down
    return row

In [ ]:
# 출루율 구하기
# for hitter_i in hitter_list:
#   hitter_i = hitter_i.apply(runBaseP, axis=1)
hitter = hitter.apply(runBaseP, axis=1)

In [ ]:
hitter

                게임키         일자 팀코드 상대팀코드  ...  득점권안타    시즌  단타       출루율
0     20160401HHLG0 2016-04-01  HH    LG  ...      0  2016   1  0.000000
1     20160401HHLG0 2016-04-01  LG    HH  ...      0  2016   0  0.000000
2     20160401HHLG0 2016-04-01  LG    HH  ...      1  2016   2  0.000000
3     20160401HHLG0 2016-04-01  LG    HH  ...      0  2016   0  0.000000
4     20160401HHLG0 2016-04-01  HH    LG  ...      0  2016   1  0.000000
...             ...        ...  ..   ...  ...    ...   ...  ..       ...
8055  20200719WOSK0 2020-07-19  SK    WO  ...      0  2020   1  0.416327
8056  20200719WOSK0 2020-07-19  SK    WO  ...      1  2020   3  0.294964
8057  20200719WOSK0 2020-07-19  SK    WO  ...      0  2020   0  0.350000
8058  20200719WOSK0 2020-07-19  WO    SK  ...      0  2020   0  0.402930
8059  20200719WOSK0 2020-07-19  WO    SK  ...      0  2020   0  0.390728

[81102 rows x 34 columns]

In [ ]:
# 장타력 구하기
hitter = hitter.apply(longHitP, axis=1)

In [ ]:
hitter

                게임키         일자 팀코드 상대팀코드  ...    시즌 단타       출루율       장타력
0     20160401HHLG0 2016-04-01  HH    LG  ...  2016  1  0.000000  0.000000
1     20160401HHLG0 2016-04-01  LG    HH  ...  2016  0  0.000000  0.000000
2     20160401HHLG0 2016-04-01  LG    HH  ...  2016  2  0.000000  0.000000
3     20160401HHLG0 2016-04-01  LG    HH  ...  2016  0  0.000000  0.000000
4     20160401HHLG0 2016-04-01  HH    LG  ...  2016  1  0.000000  0.000000
...             ...        ...  ..   ...  ...   ... ..       ...       ...
8055  20200719WOSK0 2020-07-19  SK    WO  ...  2020  1  0.416327  0.545000
8056  20200719WOSK0 2020-07-19  SK    WO  ...  2020  3  0.294964  0.225806
8057  20200719WOSK0 2020-07-19  SK    WO  ...  2020  0  0.350000  0.410714
8058  20200719WOSK0 2020-07-19  WO    SK  ...  2020  0  0.402930  0.449782
8059  20200719WOSK0 2020-07-19  WO    SK  ...  2020  0  0.390728  0.389706

[81102 rows x 35 columns]

In [ ]:
# ops 구하기
hitter['ops'] = hitter['출루율'] + hitter['장타력']

In [ ]:
# 저장하기
hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA3-세이버 매트릭스_합본.csv', encoding='utf-8-sig')

In [3]:
saver = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA3-세이버 매트릭스_합본.csv', encoding='utf-8-sig')

In [4]:
saver

       Unnamed: 0            게임키          일자  ...       출루율       장타력       ops
0               0  20160401HHLG0  2016-04-01  ...  0.000000  0.000000  0.000000
1               1  20160401HHLG0  2016-04-01  ...  0.000000  0.000000  0.000000
2               2  20160401HHLG0  2016-04-01  ...  0.000000  0.000000  0.000000
3               3  20160401HHLG0  2016-04-01  ...  0.000000  0.000000  0.000000
4               4  20160401HHLG0  2016-04-01  ...  0.000000  0.000000  0.000000
...           ...            ...         ...  ...       ...       ...       ...
81097        8055  20200719WOSK0  2020-07-19  ...  0.416327  0.545000  0.961327
81098        8056  20200719WOSK0  2020-07-19  ...  0.294964  0.225806  0.520770
81099        8057  20200719WOSK0  2020-07-19  ...  0.350000  0.410714  0.760714
81100        8058  20200719WOSK0  2020-07-19  ...  0.402930  0.449782  0.852712
81101        8059  20200719WOSK0  2020-07-19  ...  0.390728  0.389706  0.780434

[81102 rows x 37 columns]

타석수가 '시즌 경기수 x 3.1'[3]을 넘겨야 정식 기록으로 인정받는다 타율에 대한 이상치 고려 필요

In [5]:
def hitP(row):
    previous = saver[(saver['시즌'] == row['시즌']) & (saver['선수코드'] == row['선수코드']) & (saver['일자'] < row['일자'])]
    if len(previous) == 0:
        row['타율'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['안타']
    down = previous_sum['타수']
    if down == 0:
        row['타율'] = 0
        return row
    row['타율'] = up / down
    return row

In [6]:
saver = saver.apply(hitP, axis=1)

In [7]:
saver.head()

   Unnamed: 0            게임키          일자 팀코드 상대팀코드  ...  단타  출루율  장타력  ops   타율
0           0  20160401HHLG0  2016-04-01  HH    LG  ...   1  0.0  0.0  0.0  0.0
1           1  20160401HHLG0  2016-04-01  LG    HH  ...   0  0.0  0.0  0.0  0.0
2           2  20160401HHLG0  2016-04-01  LG    HH  ...   2  0.0  0.0  0.0  0.0
3           3  20160401HHLG0  2016-04-01  LG    HH  ...   0  0.0  0.0  0.0  0.0
4           4  20160401HHLG0  2016-04-01  HH    LG  ...   1  0.0  0.0  0.0  0.0

[5 rows x 38 columns]

In [8]:
saver

       Unnamed: 0            게임키          일자  ...       장타력       ops        타율
0               0  20160401HHLG0  2016-04-01  ...  0.000000  0.000000  0.000000
1               1  20160401HHLG0  2016-04-01  ...  0.000000  0.000000  0.000000
2               2  20160401HHLG0  2016-04-01  ...  0.000000  0.000000  0.000000
3               3  20160401HHLG0  2016-04-01  ...  0.000000  0.000000  0.000000
4               4  20160401HHLG0  2016-04-01  ...  0.000000  0.000000  0.000000
...           ...            ...         ...  ...       ...       ...       ...
81097        8055  20200719WOSK0  2020-07-19  ...  0.545000  0.961327  0.285000
81098        8056  20200719WOSK0  2020-07-19  ...  0.225806  0.520770  0.217742
81099        8057  20200719WOSK0  2020-07-19  ...  0.410714  0.760714  0.303571
81100        8058  20200719WOSK0  2020-07-19  ...  0.449782  0.852712  0.301310
81101        8059  20200719WOSK0  2020-07-19  ...  0.389706  0.780434  0.330882

[81102 rows x 38 columns]

In [9]:
saver.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA3-세이버 매트릭스_합본.csv', encoding='utf-8-sig')

BABIP 구하기 (타자) => 인프레이 타율, 홈런을 제외하고 계산, 상당 부분이 운에 의해서 결정되기 때문에, 운 요소를 파악 가능  삼진을 제외하기 때문에 삼진에 대한 영향력도 따로 구해야한다.

In [10]:
def createBABIP(row):
    previous = saver[(saver['시즌'] == row['시즌']) & (saver['선수코드'] == row['선수코드']) & (saver['일자'] < row['일자'])]
    if len(previous) == 0:
        row['BABIP'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['안타'] - previous_sum['홈런']
    down = previous_sum['타수'] - previous_sum['홈런'] - previous_sum['삼진'] + previous_sum['희비']
    if down == 0:
        row['BABIP'] = 0
        return row
    row['BABIP'] = up / down
    return row

In [11]:
saver = saver.apply(createBABIP, axis=1)