<a href="https://colab.research.google.com/github/seonghunYang/big_contest2020/blob/master/EDA3_%EC%84%B8%EC%9D%B4%EB%B2%84_%EB%A7%A4%ED%8A%B8%EB%A6%AD%EC%8A%A4_by_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
path = './gdrive/My Drive/빅콘테스트2020/데이터/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/'

In [2]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [38]:
hitter_2016 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2016.csv', encoding='utf-8-sig')
hitter_2017 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2017.csv', encoding='utf-8-sig')
hitter_2018 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2018.csv', encoding='utf-8-sig')
hitter_2019 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2019.csv', encoding='utf-8-sig')
hitter_2020 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2020.csv', encoding='utf-8-sig')
hitter = pd.concat(hitter_list)
hitter_list = [hitter_2016, hitter_2017, hitter_2018, hitter_2019, hitter_2020, hitter]

In [39]:
hitter.head()

             게임키        일자 팀코드 상대팀코드  더블헤더코드  ... 실책  잔루  득점권타율  득점권타수  득점권안타
0  20160401HHLG0  20160401  HH    LG       0  ...  0   1    0.0      0      0
1  20160401HHLG0  20160401  LG    HH       0  ...  0   0    0.0      0      0
2  20160401HHLG0  20160401  LG    HH       0  ...  0   0    1.0      1      1
3  20160401HHLG0  20160401  LG    HH       0  ...  0   0    0.0      0      0
4  20160401HHLG0  20160401  HH    LG       0  ...  1   0    0.0      0      0

[5 rows x 31 columns]

In [41]:
# 컬럼명 한글로 변경
new_columns = "게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,선수코드,선발,타순,타자,타수,타점,득점,안타,2루타,3루타,홈런,도루,도루실패,희타,희비,4구,고4,사구,삼진,병살타,실책,잔루,득점권타율,득점권타수,득점권안타"
new_columns = new_columns.split(',')
for hitter_i in hitter_list:
    hitter_i.columns = new_columns

In [42]:
# 일자 datetime으로 속성 변경
for hitter_i in hitter_list:
  hitter_i['일자'] = pd.to_datetime(hitter_i['일자'],format='%Y%m%d', errors='raise')
  hitter_i['시즌'] = hitter_i['일자'].dt.year

In [43]:
# 단타 구하기 
for hitter_i in hitter_list:
  hitter_i['단타'] = hitter_i['안타'] - (hitter_i['2루타'] + hitter_i['3루타'] + hitter_i['홈런'])

In [44]:
hitter

                게임키         일자 팀코드 상대팀코드  더블헤더코드  ... 득점권타율  득점권타수  득점권안타    시즌  단타
0     20160401HHLG0 2016-04-01  HH    LG       0  ...   0.0      0      0  2016   1
1     20160401HHLG0 2016-04-01  LG    HH       0  ...   0.0      0      0  2016   0
2     20160401HHLG0 2016-04-01  LG    HH       0  ...   1.0      1      1  2016   2
3     20160401HHLG0 2016-04-01  LG    HH       0  ...   0.0      0      0  2016   0
4     20160401HHLG0 2016-04-01  HH    LG       0  ...   0.0      0      0  2016   1
...             ...        ...  ..   ...     ...  ...   ...    ...    ...   ...  ..
8055  20200719WOSK0 2020-07-19  SK    WO       0  ...   0.0      1      0  2020   1
8056  20200719WOSK0 2020-07-19  SK    WO       0  ...   1.0      1      1  2020   3
8057  20200719WOSK0 2020-07-19  SK    WO       0  ...   0.0      0      0  2020   0
8058  20200719WOSK0 2020-07-19  WO    SK       0  ...   0.0      1      0  2020   0
8059  20200719WOSK0 2020-07-19  WO    SK       0  ...   0.0      0      0  2020   0

[81102 rows x 33 columns]

In [46]:
# 출루율/ 장타력 함수
def runBaseP(row):
    previous = hitter[(hitter['시즌'] == row['시즌']) & (hitter['선수코드'] == row['선수코드']) & (hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['출루율'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['안타'] + previous_sum['4구']  + previous_sum['사구']
    down = previous_sum['사구'] + previous_sum['타수'] + previous_sum['4구'] + previous_sum['희비']
    if down == 0:
        row['출루율'] = 0
        return row
    row['출루율'] = up / down
    return row

def longHitP(row):
    previous = hitter[(hitter['시즌'] == row['시즌']) & (hitter['선수코드'] == row['선수코드']) & (hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['장타력'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['단타'] * 1 + previous_sum['2루타'] * 2 + previous_sum['3루타'] * 3 + previous_sum['홈런'] * 4
    down = previous_sum['타수']
    if down == 0:
        row['장타력'] = 0
        return row
    row['장타력'] = up / down
    return row

In [47]:
# 출루율 구하기
# for hitter_i in hitter_list:
#   hitter_i = hitter_i.apply(runBaseP, axis=1)
hitter = hitter.apply(runBaseP, axis=1)

In [48]:
hitter

                게임키         일자 팀코드 상대팀코드  ...  득점권안타    시즌  단타       출루율
0     20160401HHLG0 2016-04-01  HH    LG  ...      0  2016   1  0.000000
1     20160401HHLG0 2016-04-01  LG    HH  ...      0  2016   0  0.000000
2     20160401HHLG0 2016-04-01  LG    HH  ...      1  2016   2  0.000000
3     20160401HHLG0 2016-04-01  LG    HH  ...      0  2016   0  0.000000
4     20160401HHLG0 2016-04-01  HH    LG  ...      0  2016   1  0.000000
...             ...        ...  ..   ...  ...    ...   ...  ..       ...
8055  20200719WOSK0 2020-07-19  SK    WO  ...      0  2020   1  0.416327
8056  20200719WOSK0 2020-07-19  SK    WO  ...      1  2020   3  0.294964
8057  20200719WOSK0 2020-07-19  SK    WO  ...      0  2020   0  0.350000
8058  20200719WOSK0 2020-07-19  WO    SK  ...      0  2020   0  0.402930
8059  20200719WOSK0 2020-07-19  WO    SK  ...      0  2020   0  0.390728

[81102 rows x 34 columns]

In [49]:
# 장타력 구하기
hitter = hitter.apply(longHitP, axis=1)

In [51]:
hitter

                게임키         일자 팀코드 상대팀코드  ...    시즌 단타       출루율       장타력
0     20160401HHLG0 2016-04-01  HH    LG  ...  2016  1  0.000000  0.000000
1     20160401HHLG0 2016-04-01  LG    HH  ...  2016  0  0.000000  0.000000
2     20160401HHLG0 2016-04-01  LG    HH  ...  2016  2  0.000000  0.000000
3     20160401HHLG0 2016-04-01  LG    HH  ...  2016  0  0.000000  0.000000
4     20160401HHLG0 2016-04-01  HH    LG  ...  2016  1  0.000000  0.000000
...             ...        ...  ..   ...  ...   ... ..       ...       ...
8055  20200719WOSK0 2020-07-19  SK    WO  ...  2020  1  0.416327  0.545000
8056  20200719WOSK0 2020-07-19  SK    WO  ...  2020  3  0.294964  0.225806
8057  20200719WOSK0 2020-07-19  SK    WO  ...  2020  0  0.350000  0.410714
8058  20200719WOSK0 2020-07-19  WO    SK  ...  2020  0  0.402930  0.449782
8059  20200719WOSK0 2020-07-19  WO    SK  ...  2020  0  0.390728  0.389706

[81102 rows x 35 columns]

In [52]:
# ops 구하기
hitter['ops'] = hitter['출루율'] + hitter['장타력']

In [55]:
# 저장하기
hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA3-세이버 매트릭스_합본.csv', encoding='utf-8-sig')