<a href="https://colab.research.google.com/github/seonghunYang/big_contest2020/blob/master/EDA6_%ED%83%80%EC%9E%90_%EC%84%B8%EC%9D%B4%EB%B2%84_%EB%A7%A4%ED%8A%B8%EB%A6%AD%EC%8A%A42.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
path = './gdrive/My Drive/빅콘테스트2020/EDA결과/'

In [2]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [31]:
team_hitter = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA3-팀타자_세이버 매트릭스_합본.csv', encoding='utf-8-sig')

In [32]:
team_hitter = team_hitter[['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '타자', '타수',
       '타점', '득점', '안타', '2루타', '3루타', '홈런', '도루', '도루실패', '희타', '희비', '4구',
       '고4', '사구', '삼진', '병살타', '실책', '잔루', '득점권타율', '득점권타수', '득점권안타', '시즌',
       '단타', '출루율', '장타력', 'ops', '타율', 'ISO', 'BABIP', 'BB/K', 'K%', 'BB%']]

In [33]:
team_hitter['일자'] = pd.to_datetime(team_hitter['일자'],format='%Y-%m-%d', errors='raise')
team_hitter['시즌'] = team_hitter['일자'].dt.year

In [34]:
team_hitter

                게임키         일자 팀코드  ...      BB/K        K%       BB%
0     20160401HHLG0 2016-04-01  LG  ...  0.000000  0.000000  0.000000
1     20160401HHLG0 2016-04-01  HH  ...  0.000000  0.000000  0.000000
2     20160401HTNC0 2016-04-01  NC  ...  0.000000  0.000000  0.000000
3     20160401HTNC0 2016-04-01  HT  ...  0.000000  0.000000  0.000000
4     20160401KTSK0 2016-04-01  SK  ...  0.000000  0.000000  0.000000
...             ...        ...  ..  ...       ...       ...       ...
6395  20200719LTSS0 2020-07-19  LT  ...  0.559367  0.157720  0.084478
6396  20200719OBHT0 2020-07-19  HT  ...  0.548469  0.167164  0.089979
6397  20200719OBHT0 2020-07-19  OB  ...  0.625683  0.143473  0.086633
6398  20200719WOSK0 2020-07-19  SK  ...  0.451193  0.191286  0.082988
6399  20200719WOSK0 2020-07-19  WO  ...  0.581781  0.187792  0.106921

[6400 rows x 39 columns]

wOBA => 가중 출루율, 타자가 얼마나 공격에 기여했는가
*연도별 상수는 스텟티즈에서 참고<br/>
ex>(0.709 x (볼넷 - 고의 볼넷) + 0.749 x 사구 + 0.909 x 1루타 + 1.362 x 2루타 + 1.828 x 3루타 + 2.205 x 홈런) / (타수 + 볼넷 - 고의 볼넷 + 사구 + 희생플라이)

In [35]:
c_dic = {2020: [0.730, 0.759,	0.938, 1.284,	1.595,	1.959],
         2019: [0.721,	0.752,	0.945,	1.317,	1.653,	2.074],
         2018: [0.726,	0.753,	0.920,	1.242,	1.533,	1.857],
         2017: [0.728,	0.756,	0.927,	1.259,	1.558,	1.901],
         2016: [0.747,	0.774,	0.944,	1.273,	1.569,	1.898]}

In [36]:
def createwOBA(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['wOBA'] = 0
        return row
    previous_sum = previous.sum()
    ct = c_dic[row['시즌']]
    up = (ct[0] * (previous_sum['4구'] - previous_sum['고4']) + ct[1] * previous_sum['사구'] + ct[2] * previous_sum['단타'] + ct[3] * previous_sum['2루타'] + ct[4] * previous_sum['3루타'] + ct[5] * previous_sum['홈런'] )
    down = (previous_sum['타수'] + previous_sum['4구'] - previous_sum['고4'] + previous_sum['사구'] + previous_sum['희비'])
    if down == 0:
        row['wOBA'] = 0
        return row
    row['wOBA'] = up / down
    return row

In [38]:
team_hitter = team_hitter.apply(createwOBA, axis=1)

wRAA => 리그평균 대비 득점생산, 리그 평균과 비교해서 한 타자가 팀에 기여하는 득점수

In [44]:
c_dic2 = {2020: [0.345,	1.153, 4328, 56881],
         2019: [0.335,	1.242, 6548, 55612],
         2018: [0.351,	1.075, 7994, 56903],
         2017: [0.351,	1.107, 7682, 56881],
         2016: [0.362,	1.097, 8074, 57614]}
def createwRAA(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['wRAA'] = 0
        return row
    previous_sum = previous.sum()
    ct = c_dic2[row['시즌']]
    up = row['wOBA'] - ct[0]
    down = ct[1]
    row['wRAA'] = up / down * previous_sum['타자']
    return row

In [41]:
team_hitter = team_hitter.apply(createwRAA, axis=1)

In [43]:
team_hitter.iloc[2870: 2890]

                게임키         일자 팀코드  ...       BB%      wOBA        wRAA
2870  20171003HTKT0 2017-10-03  KT  ...  0.066605  0.331222  -97.301349
2871  20171003HTKT0 2017-10-03  HT  ...  0.081891  0.370153  100.262105
2872  20171003LGLT0 2017-10-03  LT  ...  0.075276  0.351971    4.948459
2873  20171003LGLT0 2017-10-03  LG  ...  0.075166  0.337739  -66.819569
2874  20171003NCHH0 2017-10-03  HH  ...  0.071301  0.349861   -5.774237
2875  20171003NCHH0 2017-10-03  NC  ...  0.078363  0.360063   46.960343
2876  20171003SKOB0 2017-10-03  OB  ...  0.089823  0.367748   87.704952
2877  20171003SKOB0 2017-10-03  SK  ...  0.073375  0.352841    9.188413
2878  20171003WOSS0 2017-10-03  SS  ...  0.072225  0.339700  -57.836028
2879  20171003WOSS0 2017-10-03  WO  ...  0.079441  0.352999   10.233937
2880  20180324HHWO0 2018-03-24  WO  ...  0.000000  0.000000    0.000000
2881  20180324HHWO0 2018-03-24  HH  ...  0.000000  0.000000    0.000000
2882  20180324KTHT0 2018-03-24  HT  ...  0.000000  0.000000    0.000000
2883  20180324KTHT0 2018-03-24  KT  ...  0.000000  0.000000    0.000000
2884  20180324LGNC0 2018-03-24  NC  ...  0.000000  0.000000    0.000000
2885  20180324LGNC0 2018-03-24  LG  ...  0.000000  0.000000    0.000000
2886  20180324LTSK0 2018-03-24  SK  ...  0.000000  0.000000    0.000000
2887  20180324LTSK0 2018-03-24  LT  ...  0.000000  0.000000    0.000000
2888  20180324SSOB0 2018-03-24  OB  ...  0.000000  0.000000    0.000000
2889  20180324SSOB0 2018-03-24  SS  ...  0.000000  0.000000    0.000000

[20 rows x 41 columns]

In [48]:
def createwRC(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['wRC'] = 0
        return row
    previous_sum = previous.sum()
    ct = c_dic2[row['시즌']]
    up = ct[2]
    down = ct[3]
    row['wRC'] = (up / down) * previous_sum['타자'] + row['wRAA']
    return row

In [49]:
team_hitter = team_hitter.apply(createwRC, axis=1)

In [47]:
team_hitter.iloc[2870: 2890]

                게임키         일자 팀코드  ...      wOBA        wRAA            wRC
2870  20171003HTKT0 2017-10-03  KT  ...  0.331222  -97.301349 -529167.645545
2871  20171003HTKT0 2017-10-03  HT  ...  0.370153  100.262105  581801.536060
2872  20171003LGLT0 2017-10-03  LT  ...  0.351971    4.948459   28665.928388
2873  20171003LGLT0 2017-10-03  LG  ...  0.337739  -66.819569 -371966.226313
2874  20171003NCHH0 2017-10-03  HH  ...  0.349861   -5.774237  -31635.816637
2875  20171003NCHH0 2017-10-03  NC  ...  0.360063   46.960343  270139.193955
2876  20171003SKOB0 2017-10-03  OB  ...  0.367748   87.704952  509208.514603
2877  20171003SKOB0 2017-10-03  SK  ...  0.352841    9.188413   51521.475489
2878  20171003WOSS0 2017-10-03  SS  ...  0.339700  -57.836028 -326933.717114
2879  20171003WOSS0 2017-10-03  WO  ...  0.352999   10.233937   58761.070191
2880  20180324HHWO0 2018-03-24  WO  ...  0.000000    0.000000       0.000000
2881  20180324HHWO0 2018-03-24  HH  ...  0.000000    0.000000       0.000000
2882  20180324KTHT0 2018-03-24  HT  ...  0.000000    0.000000       0.000000
2883  20180324KTHT0 2018-03-24  KT  ...  0.000000    0.000000       0.000000
2884  20180324LGNC0 2018-03-24  NC  ...  0.000000    0.000000       0.000000
2885  20180324LGNC0 2018-03-24  LG  ...  0.000000    0.000000       0.000000
2886  20180324LTSK0 2018-03-24  SK  ...  0.000000    0.000000       0.000000
2887  20180324LTSK0 2018-03-24  LT  ...  0.000000    0.000000       0.000000
2888  20180324SSOB0 2018-03-24  OB  ...  0.000000    0.000000       0.000000
2889  20180324SSOB0 2018-03-24  SS  ...  0.000000    0.000000       0.000000

[20 rows x 42 columns]