<a href="https://colab.research.google.com/github/seonghunYang/big_contest2020/blob/master/EDA7_%EC%83%81%EB%8C%80%EC%A0%84%EC%A0%81%EB%B3%84_%EC%84%B8%EC%9D%B4%EB%B2%84%EB%A9%94%ED%8A%B8%EB%A6%AD%EC%8A%A4_%EC%83%9D%EC%84%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
path = './gdrive/My Drive/빅콘테스트2020/데이터/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/'

In [2]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
team_hitter_2016 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2016.csv', encoding='utf-8-sig')
team_hitter_2017 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2017.csv', encoding='utf-8-sig')
team_hitter_2018 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2018.csv', encoding='utf-8-sig')
team_hitter_2019 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2019.csv', encoding='utf-8-sig')
team_hitter_2020 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2020.csv', encoding='utf-8-sig')
team_hitter_list = [team_hitter_2016, team_hitter_2017, team_hitter_2018, team_hitter_2019, team_hitter_2020]
team_hitter = pd.concat(team_hitter_list)
team_hitter_list.append(team_hitter)

In [ ]:
new_columns = "게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,타자,타수,타점,득점,안타,2루타,3루타,홈런,도루,도루실패,희타,희비,4구,고4,사구,삼진,병살타,실책,잔루,득점권타율,득점권타수,득점권안타"
new_columns = new_columns.split(',')
for team_h in team_hitter_list:
  team_h.columns = new_columns

In [ ]:
team_hitter.head()

             게임키        일자 팀코드 상대팀코드  더블헤더코드  ... 실책  잔루     득점권타율  득점권타수  득점권안타
0  20160401HHLG0  20160401  LG    HH       0  ...  0   8  0.333333     12      4
1  20160401HHLG0  20160401  HH    LG       0  ...  2  12  0.200000     15      3
2  20160401HTNC0  20160401  NC    HT       0  ...  1   7  0.142857      7      1
3  20160401HTNC0  20160401  HT    NC       0  ...  0   7  0.100000     10      1
4  20160401KTSK0  20160401  SK    KT       0  ...  1   5  0.375000      8      3

[5 rows x 28 columns]

In [ ]:
for hitter_i in team_hitter_list:
  hitter_i['일자'] = pd.to_datetime(hitter_i['일자'],format='%Y%m%d', errors='raise')
  hitter_i['시즌'] = hitter_i['일자'].dt.year 
  
for hitter_i in team_hitter_list:
  hitter_i['단타'] = hitter_i['안타'] - (hitter_i['2루타'] + hitter_i['3루타'] + hitter_i['홈런'])

In [ ]:
def runBaseP(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['상대팀코드'] == row['상대팀코드']) & (team_hitter['일자'] < row['일자']) ]
    if len(previous) == 0:
        row['출루율'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['안타'] + previous_sum['4구']  + previous_sum['사구']
    down = previous_sum['사구'] + previous_sum['타수'] + previous_sum['4구'] + previous_sum['희비']
    if down == 0:
        row['출루율'] = 0
        return row
    row['출루율'] = up / down
    return row

def longHitP(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['상대팀코드'] == row['상대팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['장타력'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['단타'] * 1 + previous_sum['2루타'] * 2 + previous_sum['3루타'] * 3 + previous_sum['홈런'] * 4
    down = previous_sum['타수']
    if down == 0:
        row['장타력'] = 0
        return row
    row['장타력'] = up / down

    return row
def hitP(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['상대팀코드'] == row['상대팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['타율'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['안타']
    down = previous_sum['타수']
    if down == 0:
        row['타율'] = 0
        return row
    row['타율'] = up / down
    return row

def createBABIP(row):
  previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['상대팀코드'] == row['상대팀코드']) & (team_hitter['일자'] < row['일자'])]
  if len(previous) == 0:
      row['BABIP'] = 0
      return row
  previous_sum = previous.sum()
  up = previous_sum['안타'] - previous_sum['홈런']
  down = previous_sum['타수'] - previous_sum['홈런'] - previous_sum['삼진'] + previous_sum['희비']
  if down == 0:
      row['BABIP'] = 0
      return row
  row['BABIP'] = up / down
  return row

def createBBK(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['상대팀코드'] == row['상대팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['BB/K'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['4구']
    down = previous_sum['삼진']
    if down == 0:
        row['BB/K'] = 0
        return row
    row['BB/K'] = up / down
    return row

def createK_BB(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['상대팀코드'] == row['상대팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['K%'] = 0
        row['BB%'] = 0
        return row
    previous_sum = previous.sum()
    up_k = previous_sum['삼진']
    up_BB = previous_sum['4구'] - previous_sum['고4']
    down = previous_sum['타자'] - previous_sum['고4']
    if down == 0:
        row['K%'] = 0
        row['BB%'] = 0
        return row
    row['K%'] = up_k / down
    row['BB%'] = up_BB / down
    return row

In [ ]:
team_hitter = team_hitter.apply(runBaseP,axis=1)
team_hitter = team_hitter.apply(longHitP,axis=1)
team_hitter['ops'] = team_hitter['출루율'] + team_hitter['장타력']
team_hitter = team_hitter.apply(hitP,axis=1)
team_hitter['ISO'] = team_hitter['장타력'] - team_hitter['타율']
team_hitter = team_hitter.apply(createBABIP,axis=1)
team_hitter = team_hitter.apply(createBBK,axis=1)
team_hitter = team_hitter.apply(createK_BB,axis=1)

In [ ]:
team_hitter

               게임키         일자 팀코드 상대팀코드  ...     BABIP      BB/K        K%       BB%
0    20160401HHLG0 2016-04-01  LG    HH  ...  0.000000  0.000000  0.000000  0.000000
1    20160401HHLG0 2016-04-01  HH    LG  ...  0.000000  0.000000  0.000000  0.000000
2    20160401HTNC0 2016-04-01  NC    HT  ...  0.000000  0.000000  0.000000  0.000000
3    20160401HTNC0 2016-04-01  HT    NC  ...  0.000000  0.000000  0.000000  0.000000
4    20160401KTSK0 2016-04-01  SK    KT  ...  0.000000  0.000000  0.000000  0.000000
..             ...        ...  ..   ...  ...       ...       ...       ...       ...
635  20200719LTSS0 2020-07-19  LT    SS  ...  0.263636  0.565217  0.154362  0.087248
636  20200719OBHT0 2020-07-19  HT    OB  ...  0.303167  0.681818  0.144737  0.095395
637  20200719OBHT0 2020-07-19  OB    HT  ...  0.360870  0.382979  0.152104  0.058252
638  20200719WOSK0 2020-07-19  SK    WO  ...  0.287081  0.377049  0.200000  0.075410
639  20200719WOSK0 2020-07-19  WO    SK  ...  0.339901  0.656250  0.196319  0.128834

[6400 rows x 39 columns]

In [ ]:
c_dic = {2020: [0.730, 0.759,	0.938, 1.284,	1.595,	1.959],
         2019: [0.721,	0.752,	0.945,	1.317,	1.653,	2.074],
         2018: [0.726,	0.753,	0.920,	1.242,	1.533,	1.857],
         2017: [0.728,	0.756,	0.927,	1.259,	1.558,	1.901],
         2016: [0.747,	0.774,	0.944,	1.273,	1.569,	1.898]}

c_dic2 = {2020: [0.345,	1.153, 4328, 56881],
         2019: [0.335,	1.242, 6548, 55612],
         2018: [0.351,	1.075, 7994, 56903],
         2017: [0.351,	1.107, 7682, 56881],
         2016: [0.362,	1.097, 8074, 57614]}

In [ ]:
def createwOBA(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드'])& (team_hitter['상대팀코드'] == row['상대팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['wOBA'] = 0
        return row
    previous_sum = previous.sum()
    ct = c_dic[row['시즌']]
    up = (ct[0] * (previous_sum['4구'] - previous_sum['고4']) + ct[1] * previous_sum['사구'] + ct[2] * previous_sum['단타'] + ct[3] * previous_sum['2루타'] + ct[4] * previous_sum['3루타'] + ct[5] * previous_sum['홈런'] )
    down = (previous_sum['타수'] + previous_sum['4구'] - previous_sum['고4'] + previous_sum['사구'] + previous_sum['희비'])
    if down == 0:
        row['wOBA'] = 0
        return row
    row['wOBA'] = up / down
    return row

def createwRAA(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드'])& (team_hitter['상대팀코드'] == row['상대팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['wRAA'] = 0
        return row
    previous_sum = previous.sum()
    ct = c_dic2[row['시즌']]
    up = row['wOBA'] - ct[0]
    down = ct[1]
    row['wRAA'] = up / down * previous_sum['타자']
    return row

def createwRC(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드'])& (team_hitter['상대팀코드'] == row['상대팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['wRC'] = 0
        return row
    previous_sum = previous.sum()
    ct = c_dic2[row['시즌']]
    up = ct[2]
    down = ct[3]
    row['wRC'] = (up / down) * previous_sum['타자'] + row['wRAA']
    return row

def createHR(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드'])& (team_hitter['상대팀코드'] == row['상대팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['HR%'] = 0
        return row
    previous_sum = previous.sum()
    up_hr = previous_sum['홈런']
    down = previous_sum['타자'] - previous_sum['고4']
    if down == 0:
        row['HR%'] = 0
        return row
        
    row['HR%'] = up_hr / down
    return row

In [ ]:
team_hitter = team_hitter.apply(createwOBA, axis=1)
team_hitter = team_hitter.apply(createwRAA, axis=1)
team_hitter = team_hitter.apply(createwRC, axis=1)
team_hitter = team_hitter.apply(createHR, axis=1)
team_hitter['GPA'] = (1.8 * team_hitter['출루율'] + team_hitter['장타력']) / 4

In [ ]:
team_hitter

               게임키         일자 팀코드  ...        wRC       HR%       GPA
0    20160401HHLG0 2016-04-01  LG  ...   0.000000  0.000000  0.000000
1    20160401HHLG0 2016-04-01  HH  ...   0.000000  0.000000  0.000000
2    20160401HTNC0 2016-04-01  NC  ...   0.000000  0.000000  0.000000
3    20160401HTNC0 2016-04-01  HT  ...   0.000000  0.000000  0.000000
4    20160401KTSK0 2016-04-01  SK  ...   0.000000  0.000000  0.000000
..             ...        ...  ..  ...        ...       ...       ...
635  20200719LTSS0 2020-07-19  LT  ...   8.018131  0.010067  0.213500
636  20200719OBHT0 2020-07-19  HT  ...  20.276013  0.013158  0.250378
637  20200719OBHT0 2020-07-19  OB  ...  28.247471  0.012945  0.272074
638  20200719WOSK0 2020-07-19  SK  ...  13.402075  0.026230  0.229604
639  20200719WOSK0 2020-07-19  WO  ...  36.600850  0.030675  0.290882

[6400 rows x 44 columns]

In [ ]:
team_hitter.columns = ['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '타자', '타수', '타점', '득점',
       '안타', '2루타', '3루타', '홈런', '도루', '도루실패', '희타', '희비', '4구', '고4', '사구',
       '삼진', '병살타', '실책', '잔루', '득점권타율', '득점권타수', '득점권안타', '시즌', '단타', '상대출루율',
       '상대장타력', '상대ops', '상대타율', '상대ISO', '상대BABIP', '상대BB/K', '상대K%', '상대BB%', '상대wOBA', '상대wRAA',
       '상대wRC', '상대HR%', '상대GPA']

In [ ]:
team_hitter

               게임키         일자 팀코드  ...      상대wRC     상대HR%     상대GPA
0    20160401HHLG0 2016-04-01  LG  ...   0.000000  0.000000  0.000000
1    20160401HHLG0 2016-04-01  HH  ...   0.000000  0.000000  0.000000
2    20160401HTNC0 2016-04-01  NC  ...   0.000000  0.000000  0.000000
3    20160401HTNC0 2016-04-01  HT  ...   0.000000  0.000000  0.000000
4    20160401KTSK0 2016-04-01  SK  ...   0.000000  0.000000  0.000000
..             ...        ...  ..  ...        ...       ...       ...
635  20200719LTSS0 2020-07-19  LT  ...   8.018131  0.010067  0.213500
636  20200719OBHT0 2020-07-19  HT  ...  20.276013  0.013158  0.250378
637  20200719OBHT0 2020-07-19  OB  ...  28.247471  0.012945  0.272074
638  20200719WOSK0 2020-07-19  SK  ...  13.402075  0.026230  0.229604
639  20200719WOSK0 2020-07-19  WO  ...  36.600850  0.030675  0.290882

[6400 rows x 44 columns]

In [ ]:
team_hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-팀타자_상대별_세이머 매트릭스_합본.csv', encoding='utf-8-sig')

In [ ]:
hitter_2016 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2016.csv', encoding='utf-8-sig')
hitter_2017 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2017.csv', encoding='utf-8-sig')
hitter_2018 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2018.csv', encoding='utf-8-sig')
hitter_2019 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2019.csv', encoding='utf-8-sig')
hitter_2020 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2020.csv', encoding='utf-8-sig')
hitter_list = [hitter_2016, hitter_2017, hitter_2018, hitter_2019, hitter_2020]
hitter = pd.concat(hitter_list)
hitter_list.append(hitter)

In [ ]:
new_columns = "게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,선수코드,선발,타순,타자,타수,타점,득점,안타,2루타,3루타,홈런,도루,도루실패,희타,희비,4구,고4,사구,삼진,병살타,실책,잔루,득점권타율,득점권타수,득점권안타"
new_columns = new_columns.split(',')
for hitter_i in hitter_list:
    hitter_i.columns = new_columns

In [ ]:
for hitter_i in hitter_list:
  hitter_i['일자'] = pd.to_datetime(hitter_i['일자'],format='%Y%m%d', errors='raise')
  hitter_i['시즌'] = hitter_i['일자'].dt.year 

for hitter_i in hitter_list:
  hitter_i['단타'] = hitter_i['안타'] - (hitter_i['2루타'] + hitter_i['3루타'] + hitter_i['홈런'])

In [ ]:
hitter

                게임키         일자 팀코드 상대팀코드  더블헤더코드  ... 득점권타율  득점권타수  득점권안타    시즌  단타
0     20160401HHLG0 2016-04-01  HH    LG       0  ...   0.0      0      0  2016   1
1     20160401HHLG0 2016-04-01  LG    HH       0  ...   0.0      0      0  2016   0
2     20160401HHLG0 2016-04-01  LG    HH       0  ...   1.0      1      1  2016   2
3     20160401HHLG0 2016-04-01  LG    HH       0  ...   0.0      0      0  2016   0
4     20160401HHLG0 2016-04-01  HH    LG       0  ...   0.0      0      0  2016   1
...             ...        ...  ..   ...     ...  ...   ...    ...    ...   ...  ..
8055  20200719WOSK0 2020-07-19  SK    WO       0  ...   0.0      1      0  2020   1
8056  20200719WOSK0 2020-07-19  SK    WO       0  ...   1.0      1      1  2020   3
8057  20200719WOSK0 2020-07-19  SK    WO       0  ...   0.0      0      0  2020   0
8058  20200719WOSK0 2020-07-19  WO    SK       0  ...   0.0      1      0  2020   0
8059  20200719WOSK0 2020-07-19  WO    SK       0  ...   0.0      0      0  2020   0

[81102 rows x 33 columns]

In [ ]:
def runBaseP(row):
    previous = hitter[(hitter['시즌'] == row['시즌']) & (hitter['선수코드'] == row['선수코드']) & (hitter['상대팀코드'] == row['상대팀코드']) & (hitter['일자'] < row['일자']) ]
    if len(previous) == 0:
        row['출루율'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['안타'] + previous_sum['4구']  + previous_sum['사구']
    down = previous_sum['사구'] + previous_sum['타수'] + previous_sum['4구'] + previous_sum['희비']
    if down == 0:
        row['출루율'] = 0
        return row
    row['출루율'] = up / down
    return row

def longHitP(row):
    previous = hitter[(hitter['시즌'] == row['시즌']) & (hitter['선수코드'] == row['선수코드']) & (hitter['상대팀코드'] == row['상대팀코드']) & (hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['장타력'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['단타'] * 1 + previous_sum['2루타'] * 2 + previous_sum['3루타'] * 3 + previous_sum['홈런'] * 4
    down = previous_sum['타수']
    if down == 0:
        row['장타력'] = 0
        return row
    row['장타력'] = up / down

    return row
def hitP(row):
    previous = hitter[(hitter['시즌'] == row['시즌']) & (hitter['선수코드'] == row['선수코드']) & (hitter['상대팀코드'] == row['상대팀코드']) & (hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['타율'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['안타']
    down = previous_sum['타수']
    if down == 0:
        row['타율'] = 0
        return row
    row['타율'] = up / down
    return row

def createBABIP(row):
  previous = hitter[(hitter['시즌'] == row['시즌']) & (hitter['선수코드'] == row['선수코드']) & (hitter['상대팀코드'] == row['상대팀코드']) & (hitter['일자'] < row['일자'])]
  if len(previous) == 0:
      row['BABIP'] = 0
      return row
  previous_sum = previous.sum()
  up = previous_sum['안타'] - previous_sum['홈런']
  down = previous_sum['타수'] - previous_sum['홈런'] - previous_sum['삼진'] + previous_sum['희비']
  if down == 0:
      row['BABIP'] = 0
      return row
  row['BABIP'] = up / down
  return row

def createBBK(row):
    previous = hitter[(hitter['시즌'] == row['시즌']) & (hitter['선수코드'] == row['선수코드']) & (hitter['상대팀코드'] == row['상대팀코드']) & (hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['BB/K'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['4구']
    down = previous_sum['삼진']
    if down == 0:
        row['BB/K'] = 0
        return row
    row['BB/K'] = up / down
    return row

def createK_BB(row):
    previous = hitter[(hitter['시즌'] == row['시즌']) & (hitter['선수코드'] == row['선수코드']) & (hitter['상대팀코드'] == row['상대팀코드']) & (hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['K%'] = 0
        row['BB%'] = 0
        return row
    previous_sum = previous.sum()
    up_k = previous_sum['삼진']
    up_BB = previous_sum['4구'] - previous_sum['고4']
    down = previous_sum['타자'] - previous_sum['고4']
    if down == 0:
        row['K%'] = 0
        row['BB%'] = 0
        return row
    row['K%'] = up_k / down
    row['BB%'] = up_BB / down
    return row

In [ ]:
try:
  hitter = hitter.apply(runBaseP,axis=1)
  hitter = hitter.apply(longHitP,axis=1)
  hitter['ops'] = hitter['출루율'] + hitter['장타력']
except:
  hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-개인타자_상대별_세이머매트릭스_합본.csv', encoding='utf-8-sig')
finally:
  hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-개인타자_상대별_세이머매트릭스_합본.csv', encoding='utf-8-sig')

In [ ]:
try:
  hitter = hitter.apply(hitP,axis=1)
  hitter['ISO'] = hitter['장타력'] - hitter['타율']
  hitter = hitter.apply(createBABIP,axis=1)
except:
  hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-개인타자_상대별_세이머매트릭스_합본.csv', encoding='utf-8-sig')
finally:
  hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-개인타자_상대별_세이머매트릭스_합본.csv', encoding='utf-8-sig')

In [ ]:
try:
  hitter = hitter.apply(createBBK,axis=1)
  hitter = hitter.apply(createK_BB,axis=1)
except:
  hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-개인타자_상대별_세이머매트릭스_합본.csv', encoding='utf-8-sig')
finally:
  hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-개인타자_상대별_세이머매트릭스_합본.csv', encoding='utf-8-sig')

In [ ]:
c_dic = {2020: [0.730, 0.759,	0.938, 1.284,	1.595,	1.959],
         2019: [0.721,	0.752,	0.945,	1.317,	1.653,	2.074],
         2018: [0.726,	0.753,	0.920,	1.242,	1.533,	1.857],
         2017: [0.728,	0.756,	0.927,	1.259,	1.558,	1.901],
         2016: [0.747,	0.774,	0.944,	1.273,	1.569,	1.898]}

c_dic2 = {2020: [0.345,	1.153, 4328, 56881],
         2019: [0.335,	1.242, 6548, 55612],
         2018: [0.351,	1.075, 7994, 56903],
         2017: [0.351,	1.107, 7682, 56881],
         2016: [0.362,	1.097, 8074, 57614]}

In [ ]:
def createwOBA(row):
    previous = hitter[(hitter['시즌'] == row['시즌']) & (hitter['선수코드'] == row['선수코드'])& (hitter['상대팀코드'] == row['상대팀코드']) & (hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['wOBA'] = 0
        return row
    previous_sum = previous.sum()
    ct = c_dic[row['시즌']]
    up = (ct[0] * (previous_sum['4구'] - previous_sum['고4']) + ct[1] * previous_sum['사구'] + ct[2] * previous_sum['단타'] + ct[3] * previous_sum['2루타'] + ct[4] * previous_sum['3루타'] + ct[5] * previous_sum['홈런'] )
    down = (previous_sum['타수'] + previous_sum['4구'] - previous_sum['고4'] + previous_sum['사구'] + previous_sum['희비'])
    if down == 0:
        row['wOBA'] = 0
        return row
    row['wOBA'] = up / down
    return row

def createwRAA(row):
    previous = hitter[(hitter['시즌'] == row['시즌']) & (hitter['선수코드'] == row['선수코드'])& (hitter['상대팀코드'] == row['상대팀코드']) & (hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['wRAA'] = 0
        return row
    previous_sum = previous.sum()
    ct = c_dic2[row['시즌']]
    up = row['wOBA'] - ct[0]
    down = ct[1]
    row['wRAA'] = up / down * previous_sum['타자']
    return row

def createwRC(row):
    previous = hitter[(hitter['시즌'] == row['시즌']) & (hitter['선수코드'] == row['선수코드'])& (hitter['상대팀코드'] == row['상대팀코드']) & (hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['wRC'] = 0
        return row
    previous_sum = previous.sum()
    ct = c_dic2[row['시즌']]
    up = ct[2]
    down = ct[3]
    row['wRC'] = (up / down) * previous_sum['타자'] + row['wRAA']
    return row

def createHR(row):
    previous = hitter[(hitter['시즌'] == row['시즌']) & (hitter['선수코드'] == row['선수코드'])& (hitter['상대팀코드'] == row['상대팀코드']) & (hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['HR%'] = 0
        return row
    previous_sum = previous.sum()
    up_hr = previous_sum['홈런']
    down = previous_sum['타자'] - previous_sum['고4']
    if down == 0:
        row['HR%'] = 0
        return row
        
    row['HR%'] = up_hr / down
    return row

In [ ]:
try:
  hitter = hitter.apply(createwOBA, axis=1)
  hitter = hitter.apply(createwRAA, axis=1)
except:
  hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-개인타자_상대별_세이머매트릭스_합본.csv', encoding='utf-8-sig')
finally:
  hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-개인타자_상대별_세이머매트릭스_합본.csv', encoding='utf-8-sig')

In [ ]:
try:
  hitter = hitter.apply(createwRC, axis=1)
  hitter = hitter.apply(createHR, axis=1)
  hitter['GPA'] = (1.8 * hitter['출루율'] + hitter['장타력']) / 4 
except:
  hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-개인타자_상대별_세이머매트릭스_합본.csv', encoding='utf-8-sig')
finally:
  hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-개인타자_상대별_세이머매트릭스_합본.csv', encoding='utf-8-sig')

In [11]:
def createRC(row):
    previous = saver_hitter[(hitter['시즌'] == row['시즌']) & (hitter['선수코드'] == row['선수코드'])& (hitter['상대팀코드'] == row['상대팀코드']) & (hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['RC'] = 0
        return row
    previous_sum = previous.sum()
    upA = previous_sum['안타']+previous_sum['4구']-previous_sum['도루실패']+previous_sum['사구']-previous_sum['병살타']
    upB = (previous_sum['단타']*1.125)+(1.69*previous_sum['2루타'])+(3.02*previous_sum['3루타'])+(3.73*previous_sum['홈런'])+ 0.29*(previous_sum['4구']-previous_sum['고4']+previous_sum['사구'])
    down = previous_sum['타수']+previous_sum['4구']+previous_sum['사구']+previous_sum['희비']+previous_sum['희타']
    if down == 0:
        row['RC'] = 0
        return row
    row['RC'] = ((2.4*down+upA)*(3*down+upB)/(9*down)) - (0.9*down)
    
    return row

def createRC27(row):
    previous = saver_hitter[(saver_hitter['시즌'] == row['시즌']) & (saver_hitter['선수코드'] == row['선수코드'])& (saver_hitter['상대팀코드'] == row['상대팀코드']) & (saver_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['RC27'] = 0
        return row
    previous_sum = previous.sum()
    down = previous_sum['타수'] - previous_sum['안타']+previous_sum['병살타']+previous_sum['도루실패']+previous_sum['희타']+previous_sum['희비']
    if down == 0:
        row['RC27'] = 0
        return row
    row['RC27'] = (row['RC']/down)*27
    
    return row

In [ ]:
try:
  hitter = hitter.apply(createRC, axis=1)
  hitter = hitter.apply(createRC/27, axis=1)
except:
  hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-개인타자_상대별_세이머매트릭스_합본.csv', encoding='utf-8-sig')
finally:
  hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-개인타자_상대별_세이머매트릭스_합본.csv', encoding='utf-8-sig')

In [ ]:
hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-개인타자_상대별_세이머 매트릭스_합본.csv', encoding='utf-8-sig')

In [3]:
saver_hitter = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-개인타자_상대별_세이머 매트릭스_합본.csv', encoding='utf-8-sig')

In [7]:
saver_hitter['일자'] = pd.to_datetime(saver_hitter['일자'],format='%Y-%m-%d', errors='raise')
saver_hitter['시즌'] = saver_hitter['일자'].dt.year

In [8]:
saver_hitter

       Unnamed: 0            게임키         일자  ...       HR%       GPA        RC
0               0  20160401HHLG0 2016-04-01  ...  0.000000  0.000000  0.000000
1               1  20160401HHLG0 2016-04-01  ...  0.000000  0.000000  0.000000
2               2  20160401HHLG0 2016-04-01  ...  0.000000  0.000000  0.000000
3               3  20160401HHLG0 2016-04-01  ...  0.000000  0.000000  0.000000
4               4  20160401HHLG0 2016-04-01  ...  0.000000  0.000000  0.000000
...           ...            ...        ...  ...       ...       ...       ...
81097        8055  20200719WOSK0 2020-07-19  ...  0.032258  0.196486  2.053158
81098        8056  20200719WOSK0 2020-07-19  ...  0.000000  0.283152  3.554000
81099        8057  20200719WOSK0 2020-07-19  ...  0.000000  0.116667  0.054167
81100        8058  20200719WOSK0 2020-07-19  ...  0.000000  0.301961  5.705069
81101        8059  20200719WOSK0 2020-07-19  ...  0.000000  0.214610  1.890667

[81102 rows x 49 columns]

In [12]:
try:
  saver_hitter = saver_hitter.apply(createRC27, axis=1)
except:
  saver_hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-개인타자_상대별_세이머매트릭스_합본.csv', encoding='utf-8-sig')
finally:
  saver_hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-개인타자_상대별_세이머매트릭스_합본.csv', encoding='utf-8-sig')

In [15]:
saver_hitter.tail(30)

       Unnamed: 0            게임키         일자  ...       GPA         RC       RC27
81072        8030  20200719OBHT0 2020-07-19  ...  0.247431   2.432933   3.649400
81073        8031  20200719OBHT0 2020-07-19  ...  0.483732   7.172182  19.364891
81074        8032  20200719WOSK0 2020-07-19  ...  0.255263   2.908963   5.610143
81075        8033  20200719WOSK0 2020-07-19  ...  0.183824   0.928938   1.791524
81076        8034  20200719WOSK0 2020-07-19  ...  0.308242   2.636571   8.898429
81077        8035  20200719WOSK0 2020-07-19  ...  0.125714  -0.118370  -0.245846
81078        8036  20200719WOSK0 2020-07-19  ...  0.000000   0.000000   0.000000
81079        8037  20200719WOSK0 2020-07-19  ...  0.000000   0.000000   0.000000
81080        8038  20200719WOSK0 2020-07-19  ...  0.326471   3.344802   6.946897
81081        8039  20200719WOSK0 2020-07-19  ...  0.000000  -0.833333  -3.750000
81082        8040  20200719WOSK0 2020-07-19  ...  0.153977   0.406333   1.371375
81083        8041  20200719WOSK0 2020-07-19  ...  0.477984  12.178214  18.267321
81084        8042  20200719WOSK0 2020-07-19  ...  0.172050   1.475111   1.991400
81085        8043  20200719WOSK0 2020-07-19  ...  0.000000   0.000000   0.000000
81086        8044  20200719WOSK0 2020-07-19  ...  0.366783   3.143436  12.124681
81087        8045  20200719WOSK0 2020-07-19  ...  0.200000   1.489222   3.350750
81088        8046  20200719WOSK0 2020-07-19  ...  0.155556   0.422222   1.628571
81089        8047  20200719WOSK0 2020-07-19  ...  0.185714   0.617815   2.780167
81090        8048  20200719WOSK0 2020-07-19  ...  0.271833   5.140964   5.783584
81091        8049  20200719WOSK0 2020-07-19  ...  0.414394  10.386973  14.760435
81092        8050  20200719WOSK0 2020-07-19  ...  0.341066   6.738545   8.663844
81093        8051  20200719WOSK0 2020-07-19  ...  0.162500   0.812472   1.828063
81094        8052  20200719WOSK0 2020-07-19  ...  0.194957   1.999200   2.840968
81095        8053  20200719WOSK0 2020-07-19  ...  0.000000  -0.933333  -3.600000
81096        8054  20200719WOSK0 2020-07-19  ...  0.315923   5.442319   8.163479
81097        8055  20200719WOSK0 2020-07-19  ...  0.196486   2.053158   2.309802
81098        8056  20200719WOSK0 2020-07-19  ...  0.283152   3.554000   6.397200
81099        8057  20200719WOSK0 2020-07-19  ...  0.116667   0.054167   0.292500
81100        8058  20200719WOSK0 2020-07-19  ...  0.301961   5.705069   7.335088
81101        8059  20200719WOSK0 2020-07-19  ...  0.214610   1.890667   3.190500

[30 rows x 50 columns]

In [21]:
saver_hitter.columns = [ '게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '선수코드', '선발',
       '타순', '타자', '타수', '타점', '득점', '안타', '2루타', '3루타', '홈런', '도루', '도루실패',
       '희타', '희비', '4구', '고4', '사구', '삼진', '병살타', '실책', '잔루', '득점권타율', '득점권타수',
       '득점권안타', '시즌', '단타', '상대출루율', '상대장타력', '상대ops', '상대타율', '상대ISO', '상대BABIP', '상대BB/K',
       '상대K%', '상대BB%', '상대wOBA', '상대wRAA', '상대wRC', '상대HR%', '상대GPA', '상대RC', '상대RC27']

In [20]:
saver_hitter = saver_hitter[['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '선수코드', '선발',
       '타순', '타자', '타수', '타점', '득점', '안타', '2루타', '3루타', '홈런', '도루', '도루실패',
       '희타', '희비', '4구', '고4', '사구', '삼진', '병살타', '실책', '잔루', '득점권타율', '득점권타수',
       '득점권안타', '시즌', '단타', '출루율', '장타력', 'ops', '타율', 'ISO', 'BABIP', 'BB/K',
       'K%', 'BB%', 'wOBA', 'wRAA', 'wRC', 'HR%', 'GPA', 'RC', 'RC27']]

In [22]:
  saver_hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA7-개인타자_상대별_세이버매트릭스_합본.csv', encoding='utf-8-sig')