<a href="https://colab.research.google.com/github/seonghunYang/big_contest2020/blob/master/model1_train_test_set_%EB%B0%8F_%EB%AA%A8%EB%8D%B8_%ED%8F%89%EA%B0%80_%EA%B5%AC%ED%98%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
path = './gdrive/My Drive/빅콘테스트2020/데이터/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/'

In [2]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [5]:
team_pitcher = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_팀투수.csv', encoding='utf-8-sig')
pitcher = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_개인투수.csv', encoding='utf-8-sig')
team_hitter = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_팀타자.csv', encoding='utf-8-sig')
hitter = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_개인타자.csv', encoding='utf-8-sig')
team_data = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_공통.csv', encoding='utf-8-sig')
vs_team_pitcher = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_상대_팀투수.csv', encoding='utf-8-sig')
vs_team_hitter = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_상대_팀타자.csv', encoding='utf-8-sig')
r_team_pitcher = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_최근_팀투수.csv', encoding='utf-8-sig')
r_team_hitter = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_최근_팀타자.csv', encoding='utf-8-sig')

In [4]:
vs_team_pitcher.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_상대_팀투수.csv', encoding='utf-8-sig', index=False)
vs_team_hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_상대_팀타자.csv', encoding='utf-8-sig', index=False)
r_team_pitcher.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_최근_팀투수.csv', encoding='utf-8-sig', index=False)
r_team_hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_최근_팀타자.csv', encoding='utf-8-sig', index=False)
team_pitcher.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_팀투수.csv', encoding='utf-8-sig', index=False)
pitcher.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_개인투수.csv', encoding='utf-8-sig', index=False)
team_data.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_공통.csv', encoding='utf-8-sig', index=False)
team_hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_팀타자.csv', encoding='utf-8-sig', index=False)
hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/최근/1차_최종_개인타자.csv', encoding='utf-8-sig', index=False)

In [13]:
game_2016 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_경기_2016.csv', encoding='CP949')
game_2017 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_경기_2017.csv', encoding='CP949')
game_2018 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_경기_2018.csv', encoding='CP949')
game_2019 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_경기_2019.csv', encoding='CP949')
game_2020 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_경기_2020.csv', encoding='CP949')
game_list = [game_2016, game_2017, game_2018, game_2019, game_2020]
game = pd.concat(game_list)

In [14]:
# y_data 타율(타수/안타), 평자(이닝/자책점 * 9), 승패 가져오기

              G_ID   GDAY_DS VISIT_KEY HOME_KEY  HEADER_NO GWEEK STADIUM
0    20160401HHLG0  20160401        HH       LG          0     금      잠실
1    20160401HTNC0  20160401        HT       NC          0     금      마산
2    20160401KTSK0  20160401        KT       SK          0     금      문학
3    20160401LTWO0  20160401        LT       WO          0     금      고척
4    20160401OBSS0  20160401        OB       SS          0     금      대구
..             ...       ...       ...      ...        ...   ...     ...
315  20200719HHLG0  20200719        HH       LG          0     일      잠실
316  20200719KTNC0  20200719        KT       NC          0     일      창원
317  20200719LTSS0  20200719        LT       SS          0     일      대구
318  20200719OBHT0  20200719        OB       HT          0     일      광주
319  20200719WOSK0  20200719        WO       SK          0     일      문학

[3200 rows x 7 columns]